<p class="mb-1">{{#str}}select_competencies, community_sharewith{{/str}}</p>
<input
  id="coursecompetencies-{{ course_id }}"
  data-descr="addcompetencies"
  class="form-control coursecompetencies-input custom-select w-100"
  type="text"
  name="coursecompetencies-{{ course_id }}"
  value=""
  placeholder="{{#str}}write_competencies_here, community_sharewith{{/str}}"
  data-content="{{#str}}write_competencies_here, community_sharewith{{/str}}"
/>
