<div class="modal-header bg-secondary p-1 text-white">
    <h5 class="modal-title">{{#str}}sharewithpopuptitle, community_sharewith{{/str}}</h5>
    <button type="button" class="close text-white d-flex align-items-center justify-content-center m-0"
        data-dismiss="modal" aria-label="Close">
        <i class="fa-light fa-circle-xmark"></i>
    </button>
</div>
<div class="modal-body d-flex justify-content-center sharewith-action-buttons flex-wrap py-2 px-0">
    <button type="button" class="sharewith-btn align-self-center" data-handler="copyToClipboard">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}copytoclipboard, community_sharewith{{/str}}"
                class="fa-light fa-link fa-2x"></i>
        </div>
        <span class="text">{{#str}}copytoclipboard, community_sharewith{{/str}}</span>
    </button>
    <button type="button" class="sharewith-btn align-self-center" data-handler="petelMessage" data-dismiss="modal">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}petelmessage, community_sharewith{{/str}}"
                class="fa-light fa-comment-dots fa-2x"></i>
        </div>
        <span class="text">{{#str}}petelmessage, community_sharewith{{/str}}</span>
    </button>

    {{#amit}}
    <a class="btn btn-outline-primary {{^teacherid}}disabled{{/teacherid}}"
        href='{{{wwwroot}}}/message/index.php?id={{teacherid}}&mess=2&modname={{modname}}&coursename={{coursename}}'
        target="_blank" role="button">
        <i aria-hidden="true" title="{{#str}}info, community_sharewith{{/str}}"
            class="icon fa fa-info-circle fa-fw"></i>
        {{#str}}info, community_sharewith{{/str}}
    </a>
    {{/amit}}

    {{^amit}}
    <button type="button" class="sharewith-btn align-self-center" data-handler="selectUploadActivity">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}eventactivityupload, community_sharewith{{/str}}"
                class="fa-light fa-cloud-arrow-up fa-2x"></i>
        </div>
        <span class="text">{{#str}}eventactivityupload, community_sharewith{{/str}}</span>
    </button>
    <button type="button" class="sharewith-btn align-self-center" data-handler="shareCommunity">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}eventcommunityshare, community_sharewith{{/str}}"
                class="fa-light fa-users fa-2x"></i>
        </div>
        <span class="text">{{#str}}eventcommunityshare, community_sharewith{{/str}}</span>
    </button>
    <button type="button" class="sharewith-btn align-self-center" data-handler="shareActivity">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}eventactivitysharetoteacher, community_sharewith{{/str}}"
                class="fa-light fa-user-graduate fa-2x"></i>
        </div>
        <span class="text">{{#str}}eventactivitysharetoteacher, community_sharewith{{/str}}</span>
    </button>
    {{/amit}}

    <button type="button" class="sharewith-btn align-self-center" data-handler="selectCourse">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}eventactivitycopy, community_sharewith{{/str}}"
                class="fa-light fa-copy fa-2x"></i>
        </div>
        <span class="text">{{#str}}eventactivitycopy, community_sharewith{{/str}}</span>
    </button>

    <button type="button" class="sharewith-btn align-self-center" data-handler="toWhatsapp" data-dismiss="modal">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}towhatsapp, community_sharewith{{/str}}"
            class="fa-brands fa-whatsapp fa-2x"></i>
        </div>
        <span class="text">{{#str}}towhatsapp, community_sharewith{{/str}}</span>
    </button>
</div>

<!--<div class="modal-footer">-->
<!--  <button class="btn btn-secondary" type="button"  data-dismiss="modal">{{#str}}cancel, community_sharewith{{/str}}</button>-->
<!--</div>-->