<div class="modal-header bg-secondary p-1 text-white">
    <h5 class="modal-title">{{title}}</h5>
    <button id="confirmClose" type="button" class="close text-white d-flex align-items-center justify-content-center m-0" data-dismiss="modal" aria-label="Close">
        <i class="fa-light fa-circle-xmark"></i>
    </button>
</div>

<div class="modal-body">
    <span>{{text}}</span>
</div>

<div class="modal-footer">

    <button class="btn btn-secondary" type="button" data-sectionid="{{sectionid}}" data-copysub="1" 
    data-trigger="manual"
    data-handler="selectCourseForSectionSub">{{#str}}yes{{/str}}</button>

    <button class="btn btn-secondary" type="button" data-sectionid="{{sectionid}}" data-copysub="0" 
    data-trigger="manual"
    data-handler="selectCourseForSectionSub">{{#str}}no{{/str}}</button>
</div>