<div class="form-group">
    <label for="popup_preset_name">{{# str }} labelpresetname, local_quizpreset {{/ str }}</label>
    <input type="text" class="form-control" id="popup_preset_name"
           placeholder="{{# str }} placeholderpresetname, local_quizpreset {{/ str }}" value="{{presetname}}">
</div>

<div class="form-group">
    <label for="popup_teacher_description">{{# str }} labelteacherdescription, local_quizpreset {{/ str }}</label>
    <textarea class="form-control" id="popup_teacher_description" rows="3"
              placeholder="{{# str }} placeholderteacherdescription, local_quizpreset {{/ str }}">{{teacher_description}}</textarea>
</div>

<div class="form-group">
    <label for="popup_student_description">{{# str }} labelstudentdescription, local_quizpreset {{/ str }}</label>
    <textarea class="form-control" id="popup_student_description" rows="3"
              placeholder="{{# str }} placeholderstudentdescription, local_quizpreset {{/ str }}">{{student_description}}</textarea>
</div>