.tooltip {
    .arrow {
        &:before {
            display: none;
        }
    }
}

#add_comment_modal,
#info_modal {
    .modal-footer {
        justify-content: flex-start;
    }
}

#manage_modal {
    .edit-comment-bottom {
        text-align: left;
    }
}

#accordion {
    .btn-link {
        text-align: left;
    }
}

#root_absolute_q {
    .question-block {
        .question-ico {
            .fa-caret-left {
                transform: none;
            }
        }
    }
}
