<div class="container-fluid mt-1 mt-md-5">
    <div class="row justify-content-md-center">
        <div class="col-2">
            <h1>{{#str}}error_page_moe_user_title, auth_saml2{{/str}}</h1>
            <span>{{#str}}error_page_moe_user_label, auth_saml2{{/str}}</span>
            <form action="{{config.wwwroot}}/login/signup.php" method="POST" accept-charset="utf-8" class="mform">
                <div style="display: none;">
                    <input name="firstname" type="hidden" value="{{firstname}}">
                    <input name="lastname" type="hidden" value="{{lastname}}">
                    <input name="idnumber" type="hidden" value="{{idnumber}}">
                </div>
                <div id="fitem_id_authkey" class="form-group row  fitem femptylabel  ">
                    <div class="col-md-9 form-inline felement" data-fieldtype="text">
                        <input type="text" class="form-control " name="key" id="id_key" value="" dir="auto">
                    </div>
                </div>
                <div id="fitem_id_signupbutton" class="form-group row  fitem femptylabel  ">
                    <div class="col-md-9 form-inline felement" data-fieldtype="submit">
                        <input type="submit" class="btn btn-primary " name="signupbutton" id="id_signupbutton" value="{{#str}}approve{{/str}}">
                    </div>
                </div>
            </form>
            <span>{{#str}}error_page_moe_user_text, auth_saml2{{/str}}</span>
        </div>
        <div class="col-4">
            <img src="{{config.wwwroot}}/auth/saml2/pix/petel.svg">
        </div>
    </div>
</div>