<div class="modal-body d-flex justify-content-center pr-5 pl-5">

    {{#questionupload}}
    <button type="button" class="btn btn-outline-primary rounded align-self-center pt-3" data-handler= "uploadQuestionsToMaagar">
        <i aria-hidden="true" title="{{#str}}eventquestionupload, community_sharequestion{{/str}}" class="fa-light fa-upload fa-5x mb-2"></i>
        <div class = "">{{#str}}eventquestionupload, community_sharequestion{{/str}}</div>
    </button>
    {{/questionupload}}

    {{#copyquestionstoteacher}}
    <button type="button" class="btn btn-outline-primary rounded align-self-center pt-3 mx-3" data-handler="copyQuestionsToTeacher">
        <i aria-hidden="true" title="{{#str}}copyquestionstoteacher, community_sharequestion{{/str}}"  class="fa-light fa-user fa-5x mb-2"></i>
        <div class = "">{{#str}}copyquestionstoteacher, community_sharequestion{{/str}}</div>
    </button>
    {{/copyquestionstoteacher}}

    {{#copyquestionstocategory}}
    <button type="button" class="btn btn-outline-primary rounded align-self-center pt-3 mx-3" data-handler="copyQuestionsToCategory">
        <i aria-hidden="true" title="{{#str}}copyquestionstocategory, community_sharequestion{{/str}}"  class="fa-light fa-folder-tree fa-5x mb-2"></i>
        <div class = "">{{#str}}copyquestionstocategory, community_sharequestion{{/str}}</div>
    </button>
    {{/copyquestionstocategory}}

    {{#copyquestionstoquiz}}
    <button type="button" class="btn btn-outline-primary rounded align-self-center pt-3" data-handler="copyQuestionsToQuiz">
        <i aria-hidden="true" title="{{#str}}copyquestionstoquiz, community_sharequestion{{/str}}"  class="fa-light fa-file-import fa-5x mb-2"></i>
        <div class = "">{{#str}}copyquestionstoquiz, community_sharequestion{{/str}}</div>
    </button>
    {{/copyquestionstoquiz}}

</div>
