/* Hide the first dropdown-divider if no filter option element is listed before it.
   This can happen for some subset configurations of the block_myoverview course filter. */
.block_myoverview button#groupingdropdown + .dropdown-menu li:first-of-type.dropdown-divider:first-of-type {
    display: none;
}

.block-myoverview .block-myoverview-listitem {
/*     max-height: 20rem; */
    padding: .75em;
    list-style: none;
}

.block-myoverview-listitem-content {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border: none;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.block-myoverview-listitem .activity-lines {
    overflow-y: auto;
}
.block-myoverview .block-myoverview-listitem .quickaccessbar {
    background-color: #fced25;
    color: #000;
}

.myoverview-listitem-header {
    background-color: #220f44;
    height: 3rem;
}

.block-myoverview .block-myoverview-list-group {
    padding: 0;
    margin: 0;
}

.block-myoverview .block-myoverview-list-group .myoverview-listitem-header a.coursename {
    width: calc(100% - 36px);
    color: #fff;
    padding-left: 10%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 3rem;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.block-myoverview .block-myoverview-list-group .myoverview-listitem-header a.coursename .coursename-name {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.block-myoverview .block-myoverview-list-group .myoverview-listitem-header a.coursename .coursename-tooltip {
    visibility: hidden;
    display: inline-block;
    width: auto;
    white-space: nowrap;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: .5rem;
    font-size: 1rem;
    line-height: 1rem;

    top: -1rem;
    right: 35%;
    position: absolute;
    z-index: 1;
}

.block-myoverview .block-myoverview-list-group .myoverview-listitem-header a.coursename:hover .coursename-tooltip {
    visibility: visible;
}

.myoverview-listitem-header .ml-auto.dropdown {
    width: 36px;
    display: flex;
    align-items: center;
}
.myoverview-listitem-header .ml-auto.dropdown .coursemenubtn:hover,
.myoverview-listitem-header .ml-auto.dropdown .coursemenubtn:active {
    background-color: transparent;
}
.myoverview-listitem-header .ml-auto.dropdown button i {
    color: #fff;
}

.card-img {
    width: 100%;
    height: 7rem;
    border-radius: 0;
}

.course-image-wrapper:hover .course-action-menu {
    width: auto;
    opacity: 1;
    transition: all 0.5s ease-out;
    visibility: visible;
}

.course-action-menu {
    position: absolute;
    height: 2.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    top: 2.2rem;
    width: 0;
    transition: all 0.5s ease-out;
    visibility: hidden;
    opacity: 0;
    padding: 0;
}
.course-action-menu.show {
    width: auto;
    opacity: 1;
    transition: all 0.5s ease-out;
    visibility: visible;
}


.course-action-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.course-action-menu-btn:hover {
    background-color: white;
}

.course-action-menu-btn .icon:hover {
    color: black;
}

/*.course-action-menu-btn:first-of-type {*/
/*    margin-left: 1.5rem;*/
/*}*/
.course-action-menu-btn i {
    color: #fff;
    font-size: 1.5rem;
}
.course-action-menu-btn .icon {
    width: auto;
    height: auto;
}
.course-action-menu-btn .fa-certificate.fa-fw.navicon,
.course-action-menu-btn .fa-link.fa-fw.navicon {
    display: none;
    padding: 0;
}

.course-grouping-nav .grouping-nav-item-link {
    background-color: #fff;
    font-size: 2rem;
    border-bottom: 1px solid rgba(85, 67, 116, 0.7);
    position: relative;
}
.course-grouping-nav .grouping-nav-item-link:hover {
    text-decoration: none;
}
.course-grouping-nav .grouping-nav-item-link.active {
    background-color: #fff;
    font-weight: bold;
}
.course-grouping-nav .grouping-nav-item-link.active::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #220f44;
    left: 0;
    bottom: -1.5px;
}

.add-btn {
    cursor: pointer;
    margin-left: 15%;
}
.add-btn .add-btn-text {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0;
    color: #2b2b2b;
}
.add-btn .plus-circle {
    width: 1.5rem;
    height: 1.5rem;
    background: #554374 0% 0% no-repeat padding-box;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.add-btn .plus-circle::after,
.add-btn .plus-circle::before {
    content: "";
    display: block;
    position: absolute;
    width: 1rem;
    height: 0.15rem;
    background-color: #fff;
}
.add-btn .plus-circle::after {
    transform: rotate(90deg);
}

.myoverview-courseaction-menu .coursemenubtn {
    width: 3rem;
    height: 3rem;
    padding: 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myoverview-courseaction-menu .white-circle {
    width: 0.3125rem;
    height: 0.3125rem;
    background-color: #fff;
    margin-right: 0.3125rem;
    border-radius: 100%;
}
.myoverview-courseaction-menu .white-circle:last-of-type {
    margin-right: 0;
}

.myoverview-events {
    overflow: auto;
    height: 7.6rem;
}

.myoverview-events .no-events {
    font-size: 1rem;
    text-align: center;
}

.block-myoverview .dashboard-card-img {
    background-position: center;
    background-size: cover;
}
