<div class="container">
    <div class="row" style="background-color: transparent;">
        <div class="col">
            <a href="#" id="selectallstudents" class="text-secondary">{{#str}}selectall{{/str}}</a>
        </div>
        <div class="col-auto">
            <a href="#" class="sortcol" data-colid="{{colid}}"></a>
        </div>
    </div>
</div>