{{{item}}}
<div class="d-flex flex-column btn btn-primary quiz_competencyoverview-select-button" data-activity_id="{{activity_id}}"
    data-course_id="{{course_id}}" data-modname="{{mod_name}}">
    {{#str}}choose{{/str}}
</div>