// Aside drawer togglers btns.
.drawer-toggles {
  .drawer-toggler {
    button.btn {
      box-shadow: 0 .125rem .1875rem 0 rgba(0, 0, 0, .18);
      background-color: $secondarymedium;
      padding-top: .75rem;
      padding-bottom: .75rem;
    }

    button[data-target="theme_boost-drawers-blocks"] {
      color: #fff;
    }
  }
}

#theme_boost-drawers-courseindex {
  .completioninfo {
    i.icon {
      color: $gray-400;
      font-size: .5rem;
    }

    &.completion_complete {
      i.icon {
        color: $green;
      }
    }
  }

  .current-badge {
    font-size: .625rem;
    line-height: .75rem;
    height: 1.25rem;
  }

  .courseindex-link,
  .courseindex-chevron {
    color: $body-color;
  }

  .courseindex-item.pageitem:hover .courseindex-link,
  .courseindex-item.pageitem:hover .courseindex-chevron,
  .courseindex-item.pageitem:focus .courseindex-link,
  .courseindex-item.pageitem:focus .courseindex-chevron,
  .courseindex-item.pageitem .courseindex-link,
  .courseindex-item.pageitem .courseindex-chevron{
    color: $white;
  }

  .courseindex-link {
    font-size: 1rem;
    font-family: $primary-font, serif;
    font-weight: 400;
  }

  .courseindex-item.courseindex-section-title a {
    font-weight: 500;
  }

  .courseindex-locked {
    width: 1.125rem;
    height: 1.125rem;

    i {
      font-size: 1.125rem;
      color: $body-color;
      margin-right: 0 !important;
    }
  }
}
#theme_boost-drawers-blocks {
  .block.card {
    border: .0625rem solid $gray-300;
    border-radius: .5rem;
  }
}

// Mobile. 
@include media-breakpoint-down(md) {
  #theme_boost-drawers-primary {
    .drawerheader {
      background-color: $primary;
      .btn.btn-icon {
        color: $white;
      }
    }
  }
}