.btn:not(.btn-icon):not(.btn-link) {
  box-shadow: 0 .375rem .75rem rgba(0, 0, 0, 0.25);
}

.btn {
  &[class*="btn-outline"]:not(:hover):not(.hover):not(:focus):not(.focus):not(:active):not(.active):not(.disabled) {
    background-color: #fff;
  }

  &.btn-sm {
    min-height: 2.125rem;
    font-size: 1rem;
    padding: .5rem 1rem;
  }

  &.btn-md {
    min-height: 2.625rem;
    font-size: 1.125rem;
    padding: .5rem 1rem;
  }

  &.btn-lg {
    min-height: 3.25rem;
    font-size: 1.5rem;
  }
 
  &.btn-primary {
    background-color: $secondary;
    border-color: $secondary;
    &:hover {
      background-color: $light;
      color: $secondary;
      border-color: $secondarymedium;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
    &:focus {
      background-color: $secondarylight;
      color: $primary;
      border-color: $primary;
      outline: none;
    }
  }
  &.btn-secondary:not(.disabled):not(:disabled) {
    background-color: $secondarylight;
    border-color: $secondarylight;
    color: $primary;
    &:hover {
      background-color: $light;
      color: $secondary;
      border-color: $secondarymedium;
    }
    &:active, &.active {
      background-color: $secondary;
      border-color: $secondary;
      color: $white;
    }
    &:focus {
      background-color: $secondarymedium;
      color: $white;
      border-color: $secondary;
      outline: .125rem $secondary;
    }
  }
  &.btn-warning:not(:disabled):not(.disabled):active,
  &.btn-warning {
    color: $primary;
    &:hover {
      background-color: $warninglight;
      color: $body-color;
      border-color: $secondarymedium;
    }
    &:active, &.active {
      background-color: $primary;
      border-color: $warning;
      color: $warning;
    }
    &:focus {
      background-color: $warninglight;
      color: $secondary;
      border-color: $secondary;
      outline: solid .125rem $secondary !important;
    }
  }
 
  &.btn-success:not(:disabled):not(.disabled):active,
  &.btn-success {
    color: $white;
    &:hover {
      background-color: $success-light;
      color: $body-color;
      border-color: $success;
    }
    &:active, &.active {
      background-color: $success-light;
      border-color: $success;
      color: $success;
      text-shadow: 0 0 .0625rem $success;
    }
    &:focus {
      background-color: $success;
      color: $white;
      border-color: $success-light;
      outline: solid .125rem $success-light !important;
    }
  }

  &.btn-danger:not(:disabled):not(.disabled):active,
  &.btn-danger {
    color: $white;
    &:hover {
      background-color: $danger-light;
      color: $body-color;
      border-color: $danger;
    }
    &:active, &.active {
      background-color: $danger-light;
      border-color: $danger;
      color: $danger;
    }
    &:focus {
      background-color: $danger;
      color: $white;
      border-color: $danger-light;
      outline: solid .125rem $danger-light !important;
    }
  }

  &.btn-info:not(:disabled):not(.disabled):active,
  &.btn-info {
    color: $body-color;
    &:hover {
      background-color: $info-light;
      color: $body-color;
      border-color: $info;
    }
    &:active, &.active {
      background-color: $info-light;
      border-color: $info;
      color: $info;
    }
    &:focus {
      background-color: $info;
      color: $body-color;
      border-color: $info-light;
      outline: solid .125rem $info-light !important;
    }
  }

  &.btn-outline-primary:not(:disabled):not(.disabled):active,
  &.btn-outline-primary:not(:disabled):not(.disabled).active,
  &.btn-outline-primary {
    background-color:$white;
    border-color: $primary;
    &:hover {
      background-color: $white;
      color: $primary;
      border-color: $secondary;
      outline: solid .125rem $secondary !important;
    }
    &:active, &.active {
      background-color: $light;
      color: $secondary;
      border-color: $secondary;
      outline: solid .125rem $secondary !important;
    }
    &:focus {
      background-color: $light;
      color: $primary;
      border-color: $primary;
      outline: solid .125rem $primary !important;
    }
  }

  &.btn-outline-secondary:not(:disabled):not(.disabled):active,
  &.btn-outline-secondary:not(:disabled):not(.disabled).active,
  &.btn-outline-secondary {
    background-color:$white;
    border-color: $secondary;
    &:hover {
      background-color: $white;
      color: $secondary;
      border-color: $secondarymedium;
      outline: solid .125rem $secondarymedium !important;
    }
    &:active, &.active {
      background-color: $light;
      color: $secondary;
      border-color: $secondary;
      outline: solid .125rem $secondary !important;
    }
    &:focus {
      background-color: $light;
      color: $primary;
      border-color: $primary;
      outline: solid .125rem $primary !important;
    }
  }
  &.disabled, &:disabled {
    background-color: $gray-300;
    border-color: $gray-300;
    color: $body-color;
    box-shadow: none !important;
    opacity: 1;
  }
}