nav.navbar {
    .navbar-brand {
        //TODO: add logo styles
    }

    .navigation {
        font-family: $primary-font;

        .nav-link {
            color: $white;
            border: none;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $white;
            padding: .5rem 1rem;
            transition: all ease .25s;

            &:active {
                text-shadow: 0 0 .0344rem currentColor,
                    0 0 .0344rem currentColor,
                    0 0 .0344rem currentColor,
                    0 0 .0344rem currentColor;
                transition: all ease .25s;
            }

            &:hover,
            &:focus {
                background-color: transparent;
                text-shadow: 0 0 .0344rem currentColor, 0 0 .0344rem currentColor;
                text-decoration: underline;
                transition: all ease .25s;

                &:active {
                    text-shadow: 0 0 .0344rem currentColor,
                        0 0 .0344rem currentColor,
                        0 0 .0344rem currentColor,
                        0 0 .0344rem currentColor;

                }
            }

        }
    }

    #usernavigation {
        .nav-link {
            font-size: 2rem;
            color: $white;
            // FIXME:
            // width: 3rem;
            height: 3rem;
            border: .0625rem solid transparent;
            transition: all ease .25s;

            &:hover {
                background-color: transparent;
                text-shadow: 0 0 .0344rem currentColor,
                    0 0 .0344rem currentColor,
                    0 0 .0344rem currentColor;
                transition: all ease .25s;
            }

            &:active {
                border-color: $petel-secondarylight;
                color: $petel-secondarylight;
                transition: all ease .25s;

            }
        }

        [data-region="popover-region-messages"],
        #nav-notification-popover-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .usermenu {
            #user-menu-toggle {
                padding: 0;
                color: $white;

                &:hover {
                    text-decoration: none;
                }
            }

            .userbutton {
                height: 2.75rem;
                display: flex;
                align-items: center;
                justify-content: center;


                .userpicture {
                    border-radius: 100%;
                }


                i.defaultuserpic {
                    font-size: 2.25rem;
                }


            }
        }
    }

    .editmode-switch-divider {
        height: 2.5rem;
    }

    .editmode-switch-form {
        .input-group {
            align-items: center;

            label {
                color: $white;
                font-family: $primary-font;
                font-style: normal;
                font-weight: 400;
                font-size: .75rem;
                line-height: 1.125rem;
            }
        }

        .custom-switch {
            width: 2.125rem;
            height: 1.125rem;
            min-height: unset;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                width: 100%;
                height: 100%;
            }

            .custom-control-label {
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;

                &::before {
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background: none;
                    background-color: $white;
                    border: .0625rem solid $secondary;
                    border-radius: 1.125rem;
                }

                &::after {
                    position: absolute;
                    width: .875rem;
                    height: .875rem;
                    left: .125rem;
                    top: .125rem;
                    border-radius: 100%;
                    background-color: $secondary;
                }
            }
        }

        &.editmode-active {
            .custom-switch {
                .custom-control-label {
                    &::before {
                        background: none;
                        background-color: $warning;
                    }

                    &::after {
                        left: unset;
                        right: .875rem;
                    }
                }
            }
        }
    }

    .support-btn {
        &::after {
            display: none;
        }
    }
}

.userloggedinas {
    nav.navbar #usernavigation .usermenu .userbutton .avatars .avatar.current {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: $primary;

        i.defaultuserpic {
            font-size: 1rem;
        }
    }
}

//FIXME: move to correct place
.popover {
    max-width: 75vw;

    .oer-popup {
        padding: .5rem 1.25rem 0rem 1.25rem;
    }

    .oer-popup-list-title {
        font-size: 1rem;
        font-weight: 700;
    }

    .oer-popup-list-item {
        font-size: 1rem;
        font-weight: 400;
    }
}

@include media-breakpoint-down(sm) {
    nav.navbar {
        &.fixed-top {
            height: 3rem;

            .divider {
                height: 1.75rem;
            }
        }

        #usernavigation {

            .nav-link {
                font-size: 1.125rem;
            }

            .usermenu {
                #user-menu-toggle {
                    padding: 0;
                    color: $white;
                }

                .userbutton {
                    height: 1.125rem;

                    i.defaultuserpic {
                        font-size: 1.125rem;
                    }

                    .userpicture {
                        height: 1.125rem;
                        width: 1.125rem;
                    }

                }
            }
        }
    }

}