<p>
    <label for="{{inputid}}" class="mr-2">
        {{title}}
    </label>

    <input type="checkbox" name="{{paramname}}" id="{{inputid}}" value="{{paramvalue}}">

    <span style="display: none;" class="label text-danger error-block">{{#str}}error {{/str}}</span>
</p>