.edit-translation{
    border: 1px solid #ddd;
    padding: 3px;
    display: inline-block;
    position: relative;
    top: -10px;
    cursor: pointer;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    background-color: beige;
    height: fit-content;
    width: fit-content;
}
.translation-tool-editable {
    padding: 4px 1px;
    background: #efe;
    outline: none;
}
.translation-tool-noneditable {
    padding: 4px 1px;
    background: #ebebeb;
    outline: none;
}
.popover-translation .popover-footer {
    margin: 0; padding: 8px 14px; font-size: 14px; font-weight: 400; line-height: 18px; background-color: #F7F7F7; border-bottom: 1px solid #EBEBEB; border-radius: 5px 5px 0 0;
}
.popover-translation .popover-translation-string {
    padding: 5px; border: 1px solid #ebebeb; min-width: 250px; min-height: 51px; font-size: 16px;
}
