@mixin card-background-opacity($color, $opacity: 0.35) {
    background: $color;
    /* The Fallback */
    background: linear-gradient(0deg, rgba($color, $opacity), rgba($color, $opacity));
}

// Format flex-sections.
.path-course.format-flexsections {
    #page-header {

        // FIXME: should be changed by .php. add class .h1 instead of .h2
        .page-header-headings h1 {
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 3.75rem;
        }
    }

    .btn-disable-share-course {
        color: $primary;
        font-size: .75rem;
        i {
            color: $linkcolor;
            font-size: 1rem;
            margin-left: .375rem;
        }
    }

    .secondary-navigation {
        padding: 0 .9375rem;
        margin-bottom: 1rem;

        .moremenu.navigation {
            padding: 0;
            margin: 0;
            border-bottom-color: $gray-300;

            .nav-link {
                color: $secondary;
                position: relative;
                font-size: 1rem;
                font-weight: 400;

                &.active {
                    color: $primary-text;
                    border: none;

                    &::after {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: .1875rem;
                        background-color: $secondary;
                        border-radius: .1875rem .1875rem 0 0;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .course-content {
        .course-image {
            border-radius: 1rem;
            min-height: 12.5rem;
            padding: .625rem;
            display: flex;
            align-items: end;
            justify-content: space-between;
        }

        #enrolkeybtn {
            display: flex;
            align-items: center;
            font-size: .75rem;

            i {
                font-size: 1.125rem;
            }
        }

        .coursecompletion {
            width: 48%;

        }

        .progress-wrapper {
            border-radius: .5rem;
            background-color: rgba(255, 255, 255, .7);

            .progress {
                height: .5rem;
                border: .0625rem solid $primary;
                border-radius: .25rem;
                background-color: $gray-100;
                overflow: hidden;
            }

            p {
                font-size: .75rem;
                line-height: 1;
            }
        }

        .chart-wrapper {
            min-width: 5rem;
            min-height: 4.625rem;
            background-color: rgba($color: #fff, $alpha: .70);
            border-radius: .5rem;
            display: inline-flex;
            flex-direction: column;

            .svg-wrapper {
                width: 2.875rem;
                height: 2.875rem;
                margin: 0 auto;
            }

            .donut-ring {
                stroke: $gray-500;
            }

            .donut-segment {
                stroke: $primary;
            }

            .text {
                font-family: $primary-font;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
            }
        }

        .quicklinks {
            min-height: 2rem;
            font-size: 1rem;
            width: 2rem;
            height: 2rem;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #uploadcourseimagelabelб #enrolkeybtn {
            i {
                font-size: 1.125rem;
            }
        }
    }

    #coursecontentcollapse0 {
        .course-description-item.summarytext {
            padding: 0 .5rem;
        }
    }

    .course-content .card-deck .card {
        aspect-ratio: 4/4;
    }



    .dashboard-card-deck {
        margin-left: -0.75rem;
        margin-right: -0.75rem;

        //TODO: fix it via all media queries.
        &:not(.fixed-width-cards) .dashboard-card {
            width: calc(33.33% - 1.5rem);
            margin-right: .75rem;
            margin-left: .75rem;
        }

        .card-main-content {
            min-height: 10rem;
        }
    }

    .card {

        .card-header-fade,
        .card-header {
            background: transparent !important;
            position: relative;
            z-index: 5;
        }
    }

    .card-inner {
        &.lastseen {
            outline: .0625rem solid $primary;
        }

        &:hover {
            text-decoration: none;

            .card-main-content::after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: .5rem;
                @include card-background-opacity($secondary)
            }
        }

        &:focus {
            outline: .125rem solid $primary;
        }

        &:active,
        &:focus {
            background-color: $secondarylight;

            &+.lastseen-text {
                color: $primary;
            }
        }

    }

    .lastseen-text {
        font-size: .75rem;
        font-weight: 500;
        font-family: $primary-font;
        color: $secondary;
    }

    .card-img-top {
        z-index: 0;
    }

   

    .submissionstatus {
        font-size: .75rem;
        .modicon {
            font-size: 1.5rem;
            color: $primary-text;
            margin-left: .75rem;
        }
    }

    .activity-add,
    .block-add {
        background-color: $light;
        border: .0625rem solid $secondarylight;
        border-radius: .5rem;
        transition: all ease .25s;

        .pluscontainer {
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
        }

        i.fa.fa-plus {
            width: 1.125rem;
            height: 1.125rem;
            font-size: 1.125rem;
        }

        &:hover {
            background-color: $secondarylight;
            border-color: $secondary;
            transition: all ease .25s;
            text-decoration: none;

            .activity-add-text {
                text-decoration: none;
            }
        }
    }

    .add_block_button {
        .block-add {
            line-height: 1;

            span {
                font-size: 1rem;
                line-height: 1rem;
            }
        }
    }

    .completion-btn {
        display: flex;
        align-items: center;
        background-color: #fff;
        box-shadow: none;
        border: none;

        i {
            margin-left: .75rem;
            font-size: 1.5rem;
        }

        &.overallcomplete {
            color: $success;
        }

        &.overallincomplete {
            color: $primary-text;
        }
    }
    .activityname {
        a {
            color: $linkcolor;
            font-size: 1.125rem;
            line-height: 1.625rem;
            font-weight: 700;
        }
    }
    .activity-actions {
        align-self: center;
    }
    .activity-info {
        align-self: center;
        min-width: unset;
        .gradestatus {
            .progress {
                width: 7.5rem;
                height: 1rem;
                border-radius: .25rem;
            }

            .progress-bar {
                font-size: .875rem;
            }

            .grades {
                text-decoration: underline;
                font-size: 1rem;
                line-height: 1.5rem;
                color: $black;
            }
        }

        button:not(.close) {
            font-size: .75rem;
        }
    }

    .activity-wrapper {
        .activity-item {
            min-height: 6.625rem;
            padding: 1.5rem;
            background: $white;
            border: .0625rem solid $gray-300;
            border-radius: .5rem;
            box-shadow: none;
        }

    }

    .availabilityinfo {
        .description-inner {
            i {
                font-size: 1.125rem;
            }
        }
        .description-text {
            font-size: .75rem;
            font-weight: 500;
            line-height: 1.125rem;
        }
    }
    .gradestatus-wrapper {

        .studentfailed {
            font-size: .75rem;
        }
        .divider {
            display: flex;
            width: .0625rem;
            background-color: $primary-text;
            height: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .singlesection-card {
        width: 40%;
        min-height: 10rem;
        .card-img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: transform .4s;
            z-index: 0;
            height: auto;
        }
        .card-header-fade,
        .card-header {
            position: relative;
            z-index: 5;
        }
    }
    // TODO: find correct place for this code!
    h3.sectionname .inplaceeditable.inplaceeditingon .editinstructions {
        margin-top: -2rem;
        padding: .5rem;
        line-height: 1;
    }
}