#page-login-signup {

    span[data-passwordunmask="wrapper"] {
        display: flex;
        align-items: center;
    }
    .collapsible-actions {
        display: none;
    }
/*     fieldset[id*="id_category_"] {
        display: none;
    } */
}

#page-login-signup #fitem_id_recaptcha_element {
    transform: translateY(-75%);
}

#page-login-signup #fgroup_id_buttonar {
    transform: translateY(225%);
}
#page-login-signup div#usernavigation a,
#page-site-index div#usernavigation a {
    color: white;
}
#page-login-signup div#usernavigation .dropdown-menu a,
#page-site-index div#usernavigation .dropdown-menu a {
    color: black;
}
#page-login-signup #page-header,
#page-login-signup .primary-navigation {
    display: none !important;
}