/**
* Styles for quiz_advancedoverview
*/
.sticky-stripe {
	display: flex;
	height: 3rem;
	width: 100%;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	z-index: 10;
	position: fixed;
	top: 3.875rem;
	i {
		font-size: 2rem;
	}

	.link-btn-text {
		font-size: 1.5rem;
	}
}

.advancedoverview_report-toggle {
	input {
		height: 0;
		width: 0;
		visibility: hidden;
	}

	label {
		cursor: pointer;
		text-indent: -9999px;
		width: 2.125rem;
		height: 1rem;
		background: #b2b2b2;
		display: block;
		border-radius: 1rem;
		position: relative;

		&:active:after {
			width: 2.125rem;
		}

		&:after {
			content: "";
			position: absolute;
			top: 0.125rem;
			left: 0.125rem;
			right: unset;
			width: 0.75rem;
			height: 0.75rem;
			background: #fff;
			border-radius: 100%;
			/* 	transition: 0.1s; */
			box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.0625rem 0.25rem 0rem;
		}
	}

	input:checked+label {
		background: #eee;
	}

	input:checked+label:after {
		right: 0.0625rem;
		left: unset;
	}

	.link-btn-text {
		font-size: 1rem;
	}
}
#page-mod-quiz-report .block_advancedoverview_report {
	max-width: 100% !important;
}
.block_advancedoverview_report {
    .dropdown-menu.show {
		display: flex;
		flex-direction: column;
		width: fit-content;
	}
	.top-block {
		padding-bottom: 2rem;
	}

	.advancedoverview_report-title {
		font-size: 2.5rem;
		font-weight: bold;
	}

	.card {
		box-shadow: 0.0625rem 0.125rem 0.25rem 0 rgba(12, 56, 16, 0.1);
		// height: 18.875rem;
		border-radius: 0.5rem;
		width: 32.35%;

		.card-title {
			font-size: 2rem;
			font-weight: bold;
			line-height: normal;
		}

		.card-text {
			font-size: 1.5rem;
			font-weight: normal;
			line-height: normal;
		}
	}

	.chart-tooltip {
		padding: 0.5rem;
		box-shadow: 0 0.1875rem 0.375rem 0 rgba(43, 43, 43, 0.25);
		border: solid 0.0625rem #000;
		border-radius: 0.25rem;
		display: none;
		position: absolute;
		background-color: #fff;
		min-width: 10rem;
		max-height: 20.5rem;
		z-index: 10000;

		&::after {
			content: "";
			display: block;
			position: absolute;
			background-color: #fff;
			width: 0.5rem;
			height: 0.5rem;
			border: 0.0625rem solid #000;
			border-top-color: transparent !important;
			border-left-color: transparent !important;
			transform: rotate(135deg);
			left: -0.25rem;
			top: calc(50% - 0.25rem);
		}

		.chart-tooltip-title {
			margin: 0 auto;
			font-size: 1.5rem;
			font-weight: normal;
			white-space: nowrap;
		}

		.tooltip-link {
			font-size: 1.125rem;
			text-decoration: underline;
			white-space: nowrap;

			&:hover {
				color: #000 !important;
			}
		}

		.inner {
			overflow: auto;
			max-height: 17.25rem;
		}

		.chart-tooltip-body {
			&.hascolumns {
				column-count: 2;
				column-rule: 0.0625rem solid #000;
			}
		}

		.close-tooltip-btn {
			width: 1.5rem;
			height: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			border: none;
			box-shadow: none;

			i {
				font-size: 1rem;
			}
		}
	}

	#charts_average {
		.card-title {
			text-align: center;
		}

		.averagescore-title {
			line-height: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 12rem;
			height: 12rem;
			border-radius: 100%;
		}

		.averagescore-info-wrapper {
			margin-top: 3rem;

			span {
				font-weight: 1.5rem;
			}
		}

		.averagescore-title-wrapper {
			margin-right: 3.375rem;
		}
	}

	#charts_state {
		.donut-сhart-legend-title {
			font-size: 1.5rem;
			margin-bottom: 0.625rem;
		}

		.donut-сhart-legend-row {
			margin-bottom: 1.5rem;
			display: flex;
			align-items: center;

			&:last-of-type {
				margin-bottom: 0;
			}

			.square {
				width: 1.5rem;
				height: 1.5rem;
				margin-right: 0.5rem;
			}
		}

		.send-message-link {
			font-size: 1.125rem;
		}

		.donut-сhart path {
			&:hover {
				filter: drop-shadow(0 0.1875rem 0.125rem rgb(0 0 0 / 0.5));
			}
		}
	}

	h3 {
		font-size: 2rem;
		font-weight: bold;
	}

	.advancedoverview_report-btn {
		transition: all 0.25s ease;
		display: flex;
		align-items: center;
		line-height: 1;
		height: 2.5rem;
		min-width: 11rem;

		.title {
			font-size: 1.125rem;
			white-space: nowrap;
		}

		.icon {
			font-size: 1.5rem;
			width: 1.5rem;
			height: 1.5rem;
			margin-right: 0.625rem;
		}
	}

	.advancedoverview_report-dropdown-btn {
		transition: all 0.25s ease;
		display: flex;
		align-items: center;
		justify-content: space-between;
		line-height: 1;
		height: 2.5rem;
	/* 	width: 13rem; */

		&::after {
			font-size: 1rem;
		}

		&[aria-expanded="true"]::after {
			transform: scaleY(-1);
			transition: all 0.25s ease;
		}

		&-title {
			font-size: 1.125rem;
		}
	}

	.advancedoverview_report-dropdown-btn-lg,
	.advancedoverview_report-dropdown-btn-lg:active {
		background-color: #fff;

		.openquestions-count {
			width: 3.5rem;
			height: 3.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			border: solid 0.125rem transparent;
			font-size: 2.5rem;
		}

		.text {
			font-size: 1.5rem;
		}

		&:after {
			font-size: 1.75rem;
		}

		&[aria-expanded="true"]:after {
			transform: scaleY(-1);
		}
	}

	.openquestions-menu {
		border-width: 0.0625rem;
		margin-top: 0;
		padding: 0;

		.dropdown-item {
			padding-left: 6rem;
			padding-right: 1.5rem;
			padding-top: 0.375rem;
			padding-bottom: 0.375rem;
			background-color: #fff;
			display: flex;
			align-items: center;

			&:nth-child(odd) {
				background-color: #f2f2f2;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		.col1 {
			width: 8.22%;
			padding-right: 1rem;
		}

		.col2 {}

		.col3 {
			width: 12.5%;
		}
	}

	.course-group-wrapper {
		&>span {
			font-size: 1.5rem;
		}

		.dropdown-menu {
			.dropdown-ite {
				text-decoration: underline;
			}
		}
	}

	.advancedoverview_report-search-input-wrapper {
		i {
			font-size: 1.5rem;
			right: 0.5rem;
		}
	}

	.advancedoverview_report-search-input {
		line-height: 1.33;
		font-size: 1.125rem;
		min-width: 16rem;
		padding-right: 2rem;
	}

	.nav.nav-tabs {
		border-bottom: none;
		border-radius: 1.25rem;

		.nav-item {
			max-width: 15rem;
			min-height: 2.5rem;
			margin: 0;
			background-color: transparent;
			border-radius: 1.25rem;

			.nav-link {
				font-weight: normal;
				border-radius: 1.25rem !important;
				background-color: transparent;
				border-color: transparent;
				margin-bottom: 0;
				&:hover,
				&:focus {
					p {
						font-weight: 500;
					}
				}
			}

			.nav-link.active p {
				font-weight: 500;
			}
		}
	}
	.partiallycorrect-icon {
		width: 1.2rem;
		height: 1.2rem;
		background-image: url("[[pix:quiz_advancedoverview|grade_partiallycorrect]]");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin: 0 auto;
	}
	.advancedoverview_report-dropdown-btn[data-target="#studentsActionsCollapse"] {
		width: 7.5rem;
	}

	.filter-pic {
		margin-right: 0.5rem;
	}

	#selectedstudents {
		font-size: 1.125rem;
	}
/* 
	#studentsActionsBtn {
		width: 9rem;
	} */

	#questions-table,
	#students-table {
		&.tabulator {
			font-size: 1.125rem;

			.tabulator-header {
				height: 2.5rem;
				color: #fff;
				border: none;

				.tabulator-col {
					border-left: none;
					border-right: none;
					height: 2.5rem;
					padding: 0.375rem 0;
					background-color: transparent;

					.tabulator-col-content {
						padding: 0;

						.tabulator-col-title-holder {
							border-right: 0.0625rem solid #fff;
							padding: 0 0.5rem;
						}
					}

					&:last-of-type {
						.tabulator-col-content .tabulator-col-title-holder {
							border: none;
						}
					}

					&:first-of-type {
						.tabulator-col-title {
							text-align: left;
							justify-content: flex-end;
						}
					}

					.tabulator-col-title {
						text-align: center;
						font-weight: normal;
						vertical-align: middle;
					}
				}
			}

			.tabulator-row {
				&:hover {
					cursor: default;
				}
			}

			.tabulator-data-tree-control {
				background: none;
				border: none;

				.tabulator-data-tree-control-expand {
					width: 0;
					height: 0;
					border: none;
					border-top: .375rem solid transparent;
					border-bottom: .375rem solid transparent;
					border-left: .375rem solid #2b2b2b;
					background: none;

					&::after,
					&::before {
						display: none;
					}
				}

				.tabulator-data-tree-control-collapse {
					width: 0;
					height: 0;
					border-left: .375rem solid transparent;
					border-right: .375rem solid transparent;
					border-top: .375rem solid #2b2b2b;

					&::after,
					&::before {
						display: none;
					}
				}
			}

			.tabulator-data-tree-branch {
				display: none;
			}
		}
	}

	#questions-table {
		.tabulator-header {
			.tabulator-col {
				.tabulator-col-title {
					padding-right: 0;
				}

			}

			.tabulator-headers {
				div:nth-child(3) {
					.tabulator-col-title {
						text-align: left;
					}
				}
			}
		}

		.tabulator-row {
			.tabulator-cell {
				border: none;
				padding: 0 0.5rem;
				text-align: center;
				height: 100%;
				vertical-align: middle;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				&:first-of-type {
					padding: 0 1rem;
					text-align: left;
				}
				&:nth-child(3) {
					justify-content: start;
				}
			}
		}

		.qname {
			min-width: 9rem;
			display: inline-flex;
			align-items: center;
			font-weight: bold;
			font-size: 1.125rem;
		}

		.description {
			font-size: 1.125rem;
			display: inline-flex;
			align-items: center;
		}
	}

	#students-table {
		.tabulator-header {

			.tabulator-col {
				.tabulator-col-content {
					height: 100%;

					.tabulator-col-title {
						display: inline-flex;
						height: 100%;
						align-items: center;
					}
				}

				&:nth-of-type(5) {
					.tabulator-col-title-holder {
						border-right: none !important;
					}
				}
			}

		}

		.tabulator-row {
			.tabulator-cell {
				display: inline-flex;
				align-items: center;

				&:nth-of-type(5) {
					border-right: none !important;
				}
			}

			.tabulator-cell:first-of-type {
				padding-left: .5rem;
				padding-right: 0.5rem;
				display: inline-flex;
				align-items: center;
				justify-content: flex-end;
			}

			.row-menu-btn {
				display: none !important;

				&:focus,
				&:hover {
					display: block !important;
				}
			}

			&:hover {
				.row-menu-btn {
					display: block !important;
				}
			}
		}

		.incorrect {
			width: 1rem;
			height: 1rem;
			background-image: url("[[pix:core|i/grade_incorrect]]");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			margin: 0 auto;

			.numerical_value {
				display: none;
			}
		}

		.correct,
		.complete {
			width: 1rem;
			height: 1rem;
			background-image: url("[[pix:core|i/grade_correct]]");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			margin: 0 auto;

			.numerical_value {
				display: none;
			}
		}


		&.score-display {
			.tabulator-cell {

				.notanswered,
				.requiresgrading,
				.notyetanswered {
					.sr-only {
						position: relative;
						white-space: normal;
						line-height: 1;
						display: block;
						font-size: 1rem;
						width: auto;
						height: auto;
						clip: unset;
					}
				}

				.numerical_value {
					display: none;
				}

				.partiallycorrect {
					width: 1.2rem;
					height: 1.2rem;
					background-image: url("[[pix:core|i/grade_partiallycorrect]]");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					margin: 0 auto;
				}
			}
		}

		.fname,
		.lname {
			position: relative;
			display: inline-flex;
			align-items: center;

			&::after {
				content: '';
				display: none;
				position: absolute;
				width: 0;
				height: 0;
				right: 0;
			}

			&.active {
				&::after {

					display: block;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					color: #666;
				}

				&[data-sort="desc"]::after {
					border-bottom: none;
					border-top: 6px solid #666;
				}

				&[data-sort="asc"]::after {
					border-bottom: 6px solid #666;
				}
			}
		}
	}
}

#studentsActionsBlock #downloadXlsTable {
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	// border: 1px solid $border_gray;
	// border-radius: 0 5px 5px 0;
	border-left: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75%;
	background-image: url([[pix:quiz_advancedoverview|excel_icon]]);
	overflow: hidden;
}

#page-mod-quiz-report #studentsActionsCollapse .custom-checkbox {
	opacity: 1;
}

#page-mod-quiz-report #pillsArea {
	display: flex;
	align-items: center;
}

html[dir="rtl"] {
	.advancedoverview_report-toggle {
		label:after {
			right: 0.0625rem;
			left: unset;
		}

		input:checked+label:after {
			left: 0.0625rem;
			right: unset;
			/* transform: translateX(100%); */
		}
	}

	.chart-tooltip::after {
		transform: rotate(45deg);
		right: -0.25rem;
		left: unset;
	}
}

@media (max-width: 1240px) {
	.block_advancedoverview_report .card {
		width: 48%;
		margin-bottom: 1rem;
	}
}

@media (max-width: 940px) {
	.block_advancedoverview_report .card {
		width: 100%;
		margin-bottom: 1rem;
	}
}