{{#isloggedin}}
<li
    class="nav-item my-learning-space-nav {{#button_my_active}} active {{/button_my_active}} d-flex align-items-center ">
    <a href="{{config.wwwroot}}/my/" class="nav-headeritem nav-link text-white" tabindex="0" role="button">
        <i class="fal fa-home d-flex d-lg-none" aria-hidden="true"
            title="{{#str}}mylearningspace, community_oer{{/str}}"></i>
        <p class="d-none d-lg-flex mb-0">
            {{#str}}mylearningspace, community_oer{{/str}}
        </p>
    </a>
</li>
{{/isloggedin}}

<li class="nav-item d-flex align-items-center oer-nav {{#button_main_active}} active {{/button_main_active}}">
    {{#menu_enable}}
    {{#user_access}}
    <a class="nav-headeritem nav-link text-white" tabindex="0" role="button" onclick="return false;" href=""
        id="oer-popup-btn">
        <i class="fal fa-cart-arrow-down d-flex d-lg-none" aria-hidden="true"
            title="{{#str}}oerrepository, community_oer{{/str}}"></i>
        <p class="d-none d-lg-flex mb-0">
            {{#str}}oerrepository, community_oer{{/str}}
        </p>
    </a>

    <div class="oer-popup position-absolute bg-white text-body pt-1 d-none">
        <div class="oer-popup-close-btn"></div>
        <div class="row w-100">

            {{#menu}}
                <ul class="list-unstyled col-md-auto pt-3 pr-0 pb-2 pl-5">
                    <li class="d-flex align-items-center text-bold  border-dark border-bottom py-2 pl-0 mb-3">
                        <div class="rosources-popup-list-title-icon mr-2"
                            style="background-image: url({{{category_image_url}}});"></div>
                        <a class="text-body" href="{{config.wwwroot}}/local/community/plugins/oer/?categoryid={{cat_id}}">{{cat_name}}</a>

                        {{#user_editing}}
                            <a title="{{#str}}changeiconcategory, community_oer{{/str}}"
                                href="{{config.wwwroot}}/local/metadata/index.php?id={{cat_id}}&action=categorydata&contextlevel=40">
                                <i class="fat fa-edit"></i>
                            </a>
                        {{/user_editing}}

                    </li>

                    {{#courses}}
                        <li class="oer-popup-list-item d-flex align-items-center">
                            <a class="text-body"
                                href="{{config.wwwroot}}/local/community/plugins/oer/?courseid={{id}}">
                                {{fullname}}
                            </a>

                            {{#user_editing}}
                            <a title="{{#str}}changedefaultimage, community_oer{{/str}}"
                                href="{{config.wwwroot}}/local/metadata/index.php?id={{id}}&action=coursedata&contextlevel=50">
                                <i class="fat fa-edit"></i>
                            </a>

                            <div class="oer-popup-list-item-icon d-block ml-2"
                                style="background-image: url({{{default_course_image}}});"></div>
                            {{/user_editing}}
                        </li>
                    {{/courses}}
                </ul>
            {{/menu}}

        </div>
    </div>
    {{/user_access}}
    {{/menu_enable}}

</li>

{{#js}}
require([], function () {

    //hide show header menu
    const mainContainer = document.querySelector('nav.navbar'); // wrapper container to all script
    const btnHeaderMenu = mainContainer.querySelector('#oer-popup-btn');
    const btnHeaderMenuClose = mainContainer.querySelector('.oer-popup-close-btn');
    const btnsHeaderMenuClose = mainContainer.querySelectorAll(`.oer-popup-list-item a`);
    const headerMenu = mainContainer.querySelector('.oer-popup');

    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 27) {
        headerMenu.classList.add(`d-none`);
        }
    });

    if (btnHeaderMenu) {
        btnHeaderMenu.onclick = (e) => {
            e.preventDefault();
            headerMenu.classList.toggle(`d-none`);
        };
    }

    if (btnHeaderMenuClose) {
        btnHeaderMenuClose.onclick = (event) => {
            headerMenu.classList.add(`d-none`);
            event.stopPropagation();
        };
    }

    if (btnsHeaderMenuClose) {
        btnsHeaderMenuClose.forEach(function (el) {
            el.onclick = (event) => {
                headerMenu.classList.add(`d-none`);
                event.stopPropagation();
            };
        });
    }
});
{{/js}}