<div class="d-none" data-region="header-content-popover">

    {{#user_access}}
    <div class="oer-popup bg-white text-body pt-1">
        <div class="oer-popup-close-btn"></div>
        <div class="row w-100">

            {{#menu}}
                <ul class="list-unstyled col-md-auto pt-3 pr-0 pb-2 pl-5">
                    <li class="d-flex align-items-center text-bold  border-dark border-bottom py-2 pl-0 mb-3">
                        <div class="rosources-popup-list-title-icon mr-2"
                            style="background-image: url({{{category_image_url}}});"></div>
                        <a class="text-body" href="{{config.wwwroot}}/local/community/plugins/oer/?categoryid={{cat_id}}">{{cat_name}}</a>

                        {{#user_editing}}
                            <a title="{{#str}}changeiconcategory, community_oer{{/str}}"
                                href="{{config.wwwroot}}/local/metadata/index.php?id={{cat_id}}&action=categorydata&contextlevel=40">
                                <i class="fat fa-edit"></i>
                            </a>
                        {{/user_editing}}
                    </li>

                    {{#courses}}
                        <li class="oer-popup-list-item d-flex align-items-center">
                            <a class="text-body"
                                href="{{config.wwwroot}}/local/community/plugins/oer/?courseid={{id}}">
                                {{fullname}}
                            </a>

                            {{#user_editing}}
                            <a title="{{#str}}changedefaultimage, community_oer{{/str}}"
                                href="{{config.wwwroot}}/local/metadata/index.php?id={{id}}&action=coursedata&contextlevel=50">
                                <i class="fat fa-edit"></i>
                            </a>

                            <div class="oer-popup-list-item-icon d-block ml-2"
                                style="background-image: url({{{default_course_image}}});"></div>
                            {{/user_editing}}
                        </li>
                    {{/courses}}
                </ul>
            {{/menu}}

        </div>
    </div>
    {{/user_access}}
</div>

{{#js}}
require(['community_oer/header-popover'], function(HeaderPopover) {
    HeaderPopover.init();
});
{{/js}}