<div class="main-area row">

    <aside class="main-aside col-3 activity-aside-menu px-1 py-2"></aside>

    <main class="col-9">

        {{#iframe}}
            <input type="hidden" id="main-page-iframe" value="1">
        {{/iframe}}

        <h1 class="main-title bold pt-3"></h1>

        <div class="main-filter-block secondary-navigation mb-4">
            <div class="main-filter-nav moremenu navigation observed">
                <ul class="more-nav nav nav-tabs">

                    {{^iframe}}
                        {{#menu}}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center justify-content-center {{#active}}active{{/active}}" href="javascript:void(0)"
                                   data-plugin="main" data-area="menu" data-value="{{area}}">
                                    {{name}} <p data-plugin="main" data-area="menu" data-value="{{area}}" class="main-total-elements-{{area}} mb-0 ml-1"></p></a>
                            </li>
                        {{/menu}}
                    {{/iframe}}

                    <!--Search-->
                    <li class="d-flex align-items-center ml-auto">
                        <form id="search_form" class="form-inline main-filter-form">
                            <div class="form-group position-relative w-100">
                                <input type="text" class="form-control w-100 main-search-input" data-plugin="main" data-area="mainsearch"
                                       placeholder="{{#str}}searchplaceholder, community_oer{{/str}}">

                                <button class="position-absolute border-0 pl-2 bg-transparent text-primary">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </li>

                </ul>
            </div>
        </div>

        <div class="main-dashboard"></div>

    </main>

</div>