<div class="modal-body d-flex justify-content-center px-3 row">

    {{#courseupload}}
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary w-100 h-100" data-handler= "uploadCourseToCatalog">
            <i aria-hidden="true" title="{{#str}}courseuploadtocatalog, community_sharecourse{{/str}}" class="fa-light fa-upload fa-3x mb-2"></i>
            <div class = "">{{#str}}courseuploadtocatalog, community_sharecourse{{/str}}</div>
        </button>
    </div>
    {{/courseupload}}

    {{#sharecoursecommunity}}
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary w-100 h-100" data-handler="shareCourseCommunity">
            <i aria-hidden="true" title="{{#str}}eventcommunityshare, community_sharewith{{/str}}"  class="fa-light fa-group fa-3x mb-2"></i>
            <div class = "">{{#str}}sharecoursecommunity, community_sharecourse{{/str}}</div>
        </button>
    </div>
    {{/sharecoursecommunity}}

    {{#copycoursetoteacher}}
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary w-100 h-100" data-handler="copyCourseToTeacher">
            <i aria-hidden="true" title="{{#str}}copycoursetoteacher, community_sharecourse{{/str}}"  class="fa-light fa-user fa-3x mb-2"></i>
            <div class = "">{{#str}}copycoursetoteacher, community_sharecourse{{/str}}</div>
        </button>
    </div>
    {{/copycoursetoteacher}}

    {{#copycoursetocategory}}
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary w-100 h-100" data-handler="copyCourseToMyCategory">
            <i aria-hidden="true" title="{{#str}}copycoursetocategory, community_sharecourse{{/str}}"  class="fa-light fa-copy fa-3x mb-2"></i>
            <div class = "">{{#str}}copycoursetocategory, community_sharecourse{{/str}}</div>
        </button>
    </div>
    {{/copycoursetocategory}}

</div>
