<div class="modal-body d-flex justify-content-center sharewith-action-buttons flex-wrap p-0">

    {{#courseupload}}
    <button type="button" class="sharemodal-btn align-self-center" data-handler= "uploadCourseToCatalog">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}courseuploadtocatalog, community_sharecourse{{/str}}"
            class="fa-light fa-cloud-arrow-up fa-2x"></i>
        </div>
        <span class="text">{{#str}}courseuploadtocatalog, community_sharecourse{{/str}}</span>
    </button>
    {{/courseupload}}

    {{#sharecoursecommunity}}
    <button type="button" class="sharemodal-btn align-self-center" data-handler="shareCourseCommunity">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}eventcommunityshare, community_sharewith{{/str}}"
            class="fa-light fa-group fa-2x"></i>
        </div>
        <span class="text">{{#str}}sharecoursecommunity, community_sharecourse{{/str}}</span>
    </button>
    {{/sharecoursecommunity}}

    {{#copycoursetoteacher}}
    <button type="button" class="sharemodal-btn align-self-center" data-handler="copyCourseToTeacher">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}copycoursetoteacher, community_sharecourse{{/str}}"
            class="fa-light fa-user-plus fa-2x"></i>
        </div>
        <span class="text">{{#str}}copycoursetoteacher, community_sharecourse{{/str}}</span>
    </button>
    {{/copycoursetoteacher}}

    {{#copycoursetocategory}}
    <button type="button" class="sharemodal-btn align-self-center" data-handler="copyCourseToMyCategory">
        <div class="circle mb-2">
            <i aria-hidden="true" title="{{#str}}copycoursetocategory, community_sharecourse{{/str}}"
            class="fa-light fa-copy fa-2x"></i>
        </div>
        <span class="text">{{#str}}copycoursetocategory, community_sharecourse{{/str}}</span>
    </button>
    {{/copycoursetocategory}}

</div>
