body#page-local-redmine-index.path-local-redmine {
  background-color: #fff;
}
body#page-local-redmine-index.path-local-redmine #page-content {
  background-color: #fff;
}

#local-redmine-issues-page {
  padding: 0 7.29%;
}
#local-redmine-issues-page .attention-info-block {
  display: flex;
  margin-top: -1rem;
  padding: 0.25rem 1rem;
  background-color: #fcf15c;
}
#local-redmine-issues-page .attention-info-block .attention-info-text {
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  font-size: 1.2rem;
}
#local-redmine-issues-page .attention-info-block i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
  font-size: 1.2rem;
}

#local-redmine-messages-main-page {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
#local-redmine-messages-main-page .local-redmine-messages-header {
  margin-bottom: 2.5rem;
}
#local-redmine-messages-main-page .local-redmine-messages-header .form-group {
  max-width: 21.5rem;
}
#local-redmine-messages-main-page .local-redmine-messages-header .form-group .main-search-input {
  border-radius: 0.5rem;
}
#local-redmine-messages-main-page .local-redmine-messages-header .form-group .main-search-input::-moz-placeholder {
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}
#local-redmine-messages-main-page .local-redmine-messages-header .form-group .main-search-input::placeholder {
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}
#local-redmine-messages-main-page .local-redmine-messages-header .form-group button {
  top: 0;
  right: 1.5rem;
  font-size: 1.5rem;
}
#local-redmine-messages-main-page .local-redmine-messages-header h1 {
  font-size: 2rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
#local-redmine-messages-main-page .activeissues-wrapper {
  border-radius: 0.75rem;
  margin-bottom: 1.125rem;
}
#local-redmine-messages-main-page .active-appeals-block {
  padding: 0.5625rem 0.75rem;
  min-height: 3rem;
}
#local-redmine-messages-main-page .history-requets-title,
#local-redmine-messages-main-page .active-appeals-title,
#local-redmine-messages-main-page .showed-rows-info {
  font-size: 1.5rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
#local-redmine-messages-main-page .appeals-history-table .appeals-history-table-header {
  min-height: 2.5rem;
  padding: 0.375rem 0 0.375rem 0.875rem;
}
#local-redmine-messages-main-page .appeals-history-table .appeals-history-table-header [data-column-type="*"] {
  border-left-color: #fff;
}
#local-redmine-messages-main-page .appeals-history-table [data-column-type=type] {
  width: 19.2%;
}
#local-redmine-messages-main-page .appeals-history-table [data-column-type=title] {
  width: 100%;
  padding: 0 0.625rem;
  display: flex;
  flex: 1;
  min-width: 0;
  border-left: 1px solid #b2b2b2;
}
#local-redmine-messages-main-page .appeals-history-table [data-column-type=title] span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#local-redmine-messages-main-page .appeals-history-table [data-column-type=appeal_date],
#local-redmine-messages-main-page .appeals-history-table [data-column-type=close_appeal_date],
#local-redmine-messages-main-page .appeals-history-table [data-column-type=appeal_number] {
  padding: 0 0.625rem;
  border-left: 1px solid #b2b2b2;
  width: 8.4%;
  min-width: 8.5rem;
}
#local-redmine-messages-main-page .appeals-history-table [data-column-type=appeal_status] {
  border-left: 1px solid #b2b2b2;
  padding: 0 0.625rem;
  width: 11.2%;
  min-width: 8.5rem;
}
#local-redmine-messages-main-page .appeals-history-table .appeals-table-text {
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}
#local-redmine-messages-main-page .appeals-history-table .sorting-title {
  text-decoration: none;
  color: inherit;
}
#local-redmine-messages-main-page .appeals-history-table .sorting-title i {
  height: 0.55rem;
  opacity: 0.5;
}
#local-redmine-messages-main-page .appeals-history-table .sorting-title i.fa-sort-desc {
  display: flex;
  align-items: end;
}
#local-redmine-messages-main-page .appeals-history-table .sorting-title.asc i.fa-sort-asc {
  opacity: 1;
}
#local-redmine-messages-main-page .appeals-history-table .sorting-title.desc i.fa-sort-desc {
  opacity: 1;
}
#local-redmine-messages-main-page .appeals-history-table .appeals-history-table-row {
  padding: 0.375rem 0 0.375rem 0.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(43, 43, 43, 0.2509803922);
  background-color: #fff;
}
#local-redmine-messages-main-page .appeals-history-table .appeals-history-table-row:hover {
  box-shadow: 0 6px 12px 0 rgba(43, 43, 43, 0.2);
  background-color: #f5f2f7;
}
#local-redmine-messages-main-page .select-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
}
#local-redmine-messages-main-page .select-wrapper i {
  font-size: 2rem;
  margin-right: 0.75rem;
}
#local-redmine-messages-main-page .select-wrapper select {
  min-width: 13rem;
  height: 2.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  font-size: 1.125rem;
}
#local-redmine-messages-main-page .select-wrapper i.fa-caret-down {
  font-size: 1.5rem;
  right: 0;
}
#local-redmine-messages-main-page .messages-loading-wrapper {
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  z-index: 100;
}

#local-redmine-messages-page {
  padding-top: 0.625rem 8.625rem 2.6875rem;
}
#local-redmine-messages-page h1 {
  font-size: 2rem;
  margin-bottom: 1.625rem;
}
#local-redmine-messages-page h1 a {
  color: #2b2b2b;
}
#local-redmine-messages-page h1 a:hover {
  text-decoration: none;
}
#local-redmine-messages-page .back-btn {
  color: inherit;
  font-size: 1rem;
  display: flex;
}
#local-redmine-messages-page .back-btn i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
#local-redmine-messages-page .back-btn:hover {
  text-decoration: none;
}
#local-redmine-messages-page .attention-info-block {
  padding: 0.625rem 2.5rem;
  background-color: #fcf15c;
  margin-bottom: 2.125rem;
  border-radius: 0.5rem;
}
#local-redmine-messages-page .info-block {
  background-color: #f9f9f9;
  padding: 1.25rem 0.625rem;
  max-width: 17.125rem;
  min-height: 38.375rem;
  border-radius: 0.5rem;
}
#local-redmine-messages-page .info-block .block-title {
  margin-bottom: 2rem;
}
#local-redmine-messages-page .info-block .info-block-item-title {
  font-size: 1.125rem;
}
#local-redmine-messages-page .info-block .info-block-item-text {
  margin-bottom: 1.75rem;
  font-size: 1.125rem;
}
#local-redmine-messages-page .info-block .info-block-link {
  font-size: 1rem;
  color: #30a5bf;
  padding-left: 1.875rem;
  word-wrap: break-word;
}
#local-redmine-messages-page .block-title {
  font-size: 1.5rem;
}
#local-redmine-messages-page .messaging-block {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
#local-redmine-messages-page .messaging-block .block-title {
  padding-top: 1.25rem;
  padding-left: 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #f5f2f7;
}
#local-redmine-messages-page .messaging-block .messaging-block-top-content {
  max-height: 12rem;
  overflow: auto;
}
#local-redmine-messages-page .messaging-block .messaging-block-inner {
  padding-left: 1.5rem;
  padding-right: 1rem;
  background-color: #f5f2f7;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-bottom: 1rem;
  height: 32.875rem;
  overflow: auto;
}
#local-redmine-messages-page .messaging-block .date-divider {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  margin-bottom: 1.125rem;
}
#local-redmine-messages-page .messaging-block .date-divider .date {
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
}
#local-redmine-messages-page .messaging-block .date-divider .line {
  width: 100%;
  height: 0.0625rem;
}
#local-redmine-messages-page .messaging-block .message-header .title {
  line-height: 1.5;
  font-size: 1rem;
}
#local-redmine-messages-page .messaging-block .message-header .time {
  color: #707070;
}
#local-redmine-messages-page .messaging-block .incomming-message,
#local-redmine-messages-page .messaging-block .outcomming-message {
  width: 100%;
  max-width: 39.8125rem;
}
#local-redmine-messages-page .messaging-block .message-body {
  border-radius: 0.5rem;
  padding: 1.1875rem 1.4375rem;
}
#local-redmine-messages-page .messaging-form {
  background-color: #f5f2f7;
  min-height: 4rem;
  border-radius: 0.5rem;
  padding: 0.75rem 2.125rem 0.75rem 0.5rem;
}
#local-redmine-messages-page .messaging-form button[type=submit] {
  width: 5.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.375rem 0.75rem 0 rgba(43, 43, 43, 0.2509803922);
  margin-left: 0.5rem;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}
#local-redmine-messages-page .messaging-form #local_redmine_outcomming_message {
  padding: 0.375rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  resize: none;
}
#local-redmine-messages-page .messaging-form input[type=file] {
  visibility: hidden;
  width: 2rem;
  height: 2rem;
}
#local-redmine-messages-page .messaging-form .file-btn-wrapper {
  width: 3rem;
  cursor: pointer;
}
#local-redmine-messages-page .messaging-form .file-btn-wrapper .fa-paperclip {
  position: absolute;
  font-size: 2rem;
}
#local-redmine-messages-page .messages-loading-wrapper {
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  z-index: 100;
}

.issues-loading-wrapper {
  z-index: 100;
}

.appeals-history-table-row {
  cursor: pointer;
}

#page-local-redmine-index #region-main-box,
#page-local-redmine-index #region-main {
  padding: 0 !important;
  border: none;
}

html[dir=ltr] #local-redmine-messages-main-page .select-wrapper i.fa-caret-down {
  right: 0;
}

@keyframes raspberrySliding {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20px);
  }
}
@keyframes raspberryShadow {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8, 1);
    opacity: 0.2;
  }
}
#raspberryLoadingIcon .raspberry-shadow,
#raspberryLoadingIcon .raspberry-symbol-use-group {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.raspberry-symbol-use {
  transform: matrix(-0.3586255, 0, 0, -0.3586255, 104.52197, 118.23673);
}

.raspberry-shadow {
  animation-name: raspberryShadow;
}

.raspberry-symbol-use-group {
  animation-name: raspberrySliding;
}/*# sourceMappingURL=styles.css.map */