/* Highlight can use local store MUC (admin settings) */
.canuselocalstore span.yes {
    background-color: yellow;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* Atto numbering */
menu,
ol,
ul {
    padding: 0 0 0 25px;
}