<div class = "intro_wrapper">
  <div class = "intro">
    <h1 class = "intro_head">No permission</h1>
    <p class = "intro_par">{{#str}}chosendisablearea, community_social{{/str}}</p>
    <p class = "intro_par">{{#str}}personalinformationsocialarea, community_social{{/str}}</p>
    <!--<a href = "{{{social_enable}}}" class = "intro_btn">{{#str}}activatingsocial, community_social{{/str}}</a>-->
  </div>
</div>
