<div class ="shool-name">

  <div class = "shool-name-text">{{#str}} fillingoutschoolname, community_social{{/str}}</div>

  <span class = "shool-text-bold ">{{#str}} schoolname, community_social{{/str}}</span>
  <input type="text" id="school-save" name="school-save" value="{{user.school}}">

  <div class = "btns-popup mb-2">
    <button class = "btn btn-secondary btn-cancel close_popup">{{#str}} cancel, community_social{{/str}}</button>
    <a class = "btn btn-primary" data-handler="school-save" href = "javascript:void(0)">{{#str}} save, community_social{{/str}}</a>
  </div>
</div>
