<div class = "socila_disable">

  <p class = "text">{{#str}} disablesocialarea, community_social{{/str}}</p>
  <ul>
    <li>{{#str}} willnotbepossible, community_social{{/str}}</li>
    <li>{{#str}} teacherprofilewillnotbevisible, community_social{{/str}}</li>
    <li>{{#str}} personaldatawillbesaved, community_social{{/str}}</li>
  </ul>

  <div class = "text-bold">{{#str}} disablingthesocialzone, community_social{{/str}}</div>

  <div class = "btns-popup">
    <button class = "btn btn-outline-secondary btn-cancel close_popup">{{#str}} cancel, community_social{{/str}}</button>
    <a class = "btn btn-primary" href = "{{{social_disable}}}">{{#str}} disable, community_social{{/str}}</a>
  </div>
</div>
