<form class = "pc-form" id="request_followed_courses">
  <div class = "pc-form_courses">

    {{#data.users}}
    <div class = "col-card">
      <div class = "col-card-img">
        <div style = "background-image: url('{{{image_url}}}');"></div>
      </div>
      <div class = "col-card-inner">
        <div class = "col-card-name">{{firstname}} {{lastname}}</div>

        <!--
        {{#active_collegue}}
        <span class = "col-card-tag">{{#str}}colleague, community_social{{/str}}</span>
        {{/active_collegue}}
        -->

        {{#active_follower}}
        <!--<span data-handler="follow-user" data-custom_userid="{{id}}" class = "col-card-tag">{{#str}}follow, community_social{{/str}}</span>-->
        {{/active_follower}}

        {{^active_follower}}
        <!--<span data-handler="follow-user" data-custom_userid="{{id}}" class = "col-card-tag col-card-rss">{{#str}}befollowed, community_social{{/str}}</span>-->
        {{/active_follower}}

      </div>
    </div>
    {{/data.users}}

  </div>

  <div class = "btns-popup">
    <!--<button class = "btn btn-secondary btn-cancel close_popup" data-handler = "send_public_course">{{#str}} cancel, community_social{{/str}}</button>-->
  </div>

</form>
