<div class = "social__wrapper">

  {{>community_social/profile-aside-user}}

  <div class = "main">
    <div class = "main_header mb-3">
      <button data-handler = "social_disable" class = "main_disable"><i class="fa fa-power-off" aria-hidden="true"></i> {{#str}} disablingsocialarea, community_social{{/str}}</button>
    </div>

    <div id = "teachers_card_block">
      {{>community_social/teachers-card-block}}
    </div>

  </div>
</div>
