{{> quiz_advancedoverview/blocks/open_questions}}
{{> quiz_advancedoverview/blocks/charts}}
{{> quiz_advancedoverview/blocks/questions_table}}
{{> quiz_advancedoverview/blocks/competencies}}
{{> quiz_advancedoverview/blocks/students_table}}

<input id="datacmid" type="hidden" class="hidden" data-cmid="{{cmid}}">
<input id="datacourseid" type="hidden" class="hidden" data-courseid="{{courseid}}">
<input id="dataquizid" type="hidden" class="hidden" data-quizid="{{quizid}}">
<input id="datagroupid" type="hidden" class="hidden" data-groupid="{{groupid}}">

 {{> quiz_advancedoverview/loading}}
