{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template petel/course_search

    This template renders the course search form.

    Example context (json):
    {
    }

    Page header.
}}
<div id="course_activity_search" class="form-inline mr-3 position-relative" style="width: fit-content">
    <input id="course_activity_search-input" class="form-control main-search-input" type="text" data-courseid="{{courseid}}"
           placeholder="{{#str}} searchcourse, theme_petel {{/str}}" role="search"
           aria-label="{{#str}} searchcourse, theme_petel {{/str}}"/>
    <div class="position-absolute border-0 petel-search-btn">
        <i class="fa-sharp fa-solid fa-magnifying-glass" aria-hidden="true"></i>
    </div>
</div>

{{#js}}
    require(['theme_petel/course_search'], function(search) {search.init();});
{{/js}}