{{> local_diagnostic/popup-activities }}
{{> local_diagnostic/popup-recommend }}
{{> local_diagnostic/popup-description }}
{{> local_diagnostic/popup-repository }}
{{> local_diagnostic/popup-description-repo }}
{{> local_diagnostic/popup-description-recom }}
{{> local_diagnostic/toast }}