<div class="local-diagnostic-toast toast success" role="alert">
    <div class="toast-body">
        <i class="fa fa-check" aria-hidden="true"></i>
        {{#str}}saved_successfully, local_diagnostic{{/str}}
    </div>
</div>

<div class="local-diagnostic-toast toast error" role="alert">
    <div class="toast-body">
        <i class="fa fa-warning" aria-hidden="true"></i>
        {{#str}}server_error, local_diagnostic{{/str}}
    </div>
</div>