.que.gapselectmath .qtext {
    line-height: 2em;
    margin-top: 1px;
    margin-bottom: 0.5em;
    display: block;
}

.que.gapselectmath .answercontainer {
    line-height: 2em;
    margin-bottom: 1em;
    display: block;
}

.que.gapselectmath .answertext {
    padding-bottom: 0.5em;
}

.que.sddl .control {
    padding: 0.2em;
}