<div class="mlnlpessay-container-{{qid}}">
    <div class="mlnlpresponse-{{qid}}" >
        {{#str}} weightforfeedback, qtype_mlnlpessay {{/str}}
        <i class="fas fa-solid fa-sync fa-spin"></i>
    </div>
</div>