{{#show_version_updated_btn}}
    <i class="fal fa-cloud-download"></i>
    <div class="oer-tooltip p-2 position-absolute" data-position="bottom-right" data-carret-position="top-right">
        <span>{{{version_updated_btn_description}}}</span>
    </div>
{{/show_version_updated_btn}}