{{#show_version_updated_btn}}
<a href="#" class="p-1" data-toggle="tooltip" data-placement="top" title="{{version_updated_btn_description}}" data-html="true">
    <i class="fal text-primary fa-cloud-download"></i>
</a>
{{/show_version_updated_btn}}