// Displaying the actual block/notification.
body .block.block_advnotifications,
#page-blocks-advnotifications-pages-notifications {
    .content {
        margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */ // Override core !important CSS :( .
    }
    .notification-block-wrapper {
        /* General style for ALL alerts*/
        margin-bottom: 0;
        position: relative;
        box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;

        .alert-colorblock {
            width: 1rem;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            margin-top: -0.0625rem;
            margin-left: -0.0625rem;
            margin-bottom: -0.0625rem;
        }
        .alert-inner {
            width: calc(100% - 1rem);
            padding: 0.5rem 0.75rem 0.5rem 0.625rem;
        }
        .alert-text {
            font-family: "Heebo", sans-serif;
            font-size: 1rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: color(black);
        }

        &.dismissible {
            .notification-block-close i {
                transition: 250ms;
                color: color(black);
                font-size: 1.5rem;
                margin-left: 0.75rem;
                cursor: pointer;
                &:hover {
                    color: color(black); /* stylelint-disable-line csstree/validator */
                    transition: 250ms;
                }
            }
        }

        // alert block has icon styles
        &.aicon {
            i:not(.fa-times-circle) {
                font-size: 1.375rem;
                margin-right: 0.75rem;
                color: color(black);
                transition: 250ms;
            }
        }

        // Warning alert
        &.alert-warning {
            font-weight: 400;
            background-color: color(alert-orange-light);
            border-color: color(alert-orange-light);
            .alert-colorblock {
                background-color: color(alert-orange);
                border: 0.0625rem solid color(alert-orange);
            }
        }

        // Success alert
        &.alert-success {
            font-weight: 400;
            background-color: color(success-green-light);
            border-color: color(success-green-light);
            .alert-colorblock {
                background-color: color(success-green);
                border: 0.0625rem solid color(success-green);
            }
            .notification-block-close i {
                color: color(success-green);
            }
            .fal.fa-check-circle {
                color: color(success-green);
                font-size: 1.5rem;
            }
        }

        // Danger alert
        &.alert-danger {
            font-weight: 400;
            background-color: color(danger-red-light);
            border-color: color(danger-red-light);
            .alert-colorblock {
                background-color: color(danger-red);
                border: 0.0625rem solid color(danger-red);
            }
            .notification-block-close i {
                color: color(danger-red);
                transition: 250ms;
            }
            .fal.fa-exclamation-circle {
                color: color(danger-red);
                font-size: 1.5rem;
                transition: 250ms;
            }
        }

        // Info & Primary alert
        &.alert-info {
            font-weight: 400;
            background-color: color(system-blue-light);
            border-color: color(system-blue-light);
            .alert-colorblock {
                background-color: color(system-blue);
                border: 0.0625rem solid color(system-blue);
            }
            .fal.fa-exclamation-circle {
                font-size: 1.5rem;
                transition: 250ms;
            }
        }
    }
}
body .block.block_advnotifications:not(.editing) {
    .block.block_advnotifications {
        box-shadow: none;
        border: none;
        background-color: transparent;
        margin-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */ // Override core !important CSS :( .
        padding: 0;
        min-height: 0;

        .card-body {
            padding: 0 !important; /* stylelint-disable-line declaration-no-important */ // Override core !important CSS :( .
        }

        .header {
            display: none;
        }

        .content {
            padding: 0;
            background-color: transparent;
        }
    }
}
html[dir="rtl"] .block_advnotifications .carousel-control-prev-icon,
html[dir="rtl"] .block_advnotifications .carousel-control-next-icon {
    transform: scaleX(-1);
}
body .block.block_advnotifications {
    .carousel-control-prev,
    .carousel-control-next{
        width: 3.5rem;
        padding: 1rem;
        span {
            background-size: contain;
        }
    }
}
