<div class="sharedwithme-item">

    <div class="img_wrapper">
        <a target="_blank" href="{{{courseurl}}}" class="simul_block-body-img">
            <div class="img-background" style="background-image: url('{{{imageurl}}}')">
            <img src="{{{imageurl}}}"/>
            </div>
        </a>
    </div>

    <div class="sharedwithme-content">
        <h3 class="title">
            <a class="" target="_blank" href="{{{courseurl}}}">
                {{fullname}}
            </a>
        </h3>
        <h5 class="subtitle">{{{summary}}}</h5>
        <div class="content">
            <div class="user-info">
                <div class="user-img">
                    <img src="{{{userimageurl}}}"/>
                </div>
                <div class="user-name">{{username}}</div>
            </div>
            <div class="course-info">{{#str}}teachersoncourse, block_sharedwithme{{/str}} <span>{{countcollegues}}</span></div>
        </div>
    </div>

</div>