#page-mod-quiz-report .block_advancedoverview_report {
    max-width: 102rem;

    .advancedoverview_report-title {
        color: $primary;
    }

    .course-group-wrapper {
        color: $primary-text;
    }

    .advancedoverview_report-toggle {
        .link-btn-text {
            color: $primary-text;
        }

        input:checked+label {
            background: $secondarylight;
        }
    }

    .top-block {
        border-color: $secondary;
    }

    .averagescore-title {
        background-color: $secondary;
        color: $white;
    }

    .advancedoverview_report-btn,
    .advancedoverview_report-dropdown-btn,
    .advancedoverview_report-dropdown-btn-lg {
        background-color: $white;
        border: 0.0625rem solid $secondary;
        color: $secondary;

        .title {}

        // box-shadow: 0 0.1875rem 0.3125rem 0 rgba($petel-body-text, 0.15);
        &:hover {
            background-color: $white;
            border: 0.0125rem solid $primary;
            // box-shadow: 0 0.375rem 0.75rem 0 rgba($petel-body-text, 0.2);
            color: $secondary;
        }

        &:active,
        &.active {
            background-color: $light;
            border: 0.0125rem solid $secondary;
            // box-shadow: 0 0.1875rem 0.1875rem 0 rgba($petel-body-text, 0.35);
            color: $secondary;
        }

        &:focus {
            outline: none;
        }

        &:disabled,
        &.disabled,
        &:disabled:hover,
        &.disabled:hover {
            background-color: $gray-300;
            // box-shadow: none;
            border: none;
            color: $primary-text;
        }
    }

    .advancedoverview_report-dropdown-btn-lg {
        padding: 1rem 2rem;
        box-shadow: 0 0.1875rem 0.1875rem 0 rgba(43, 43, 43, 0.25);

        .openquestions-count {
            border-color: $primary;

        }

        .text {
            color: $primary-text;
        }

        .link-btn-text {
            color: $secondary;
        }

        &:after {
            color: $primary-text;
        }

        &:disabled,
        &.disabled,
        &:disabled:hover,
        &.disabled:hover {
            background-color: $gray-300;
            border-color: $gray-600;
            color: $primary-text;

            .openquestions-count {
                background-color: $gray-700;
                border-color: $gray-700;
            }
        }
    }

    .openquestions-menu {
        border-color: $secondary;

        .dropdown-item {
            &:hover {
                background-color: $secondarylight;
            }
        }
    }

    .advancedoverview_report-search-input {
        background-color: $light;
        color: $primary-text;
        border-color: $primary;

        i {
            color: $primary;
        }
    }

    h3 {
        color: $primary;
    }

    .card {

        // .averagescore,
        // .card-text,
        // .card-title,
        // .card-text span {
        // }
        .card-text {
            color: $primary-text;
        }

        .card-title,
        .card-text span {
            color: $secondary;
        }
    }

    .chart-tooltip {
        border-color: $primary;

        &::after {
            border-color: $primary;
        }

        .chart-tooltip-title {
            color: $primary-text;
        }

        button i {
            color: $primary;
        }

        .tooltip-link {
            color: $blue !important;
        }

        .chart-tooltip-body.hascolumns {
            column-rule-color: $secondarylight;
        }
    }

    .filter-pic {
        color: $secondary;
    }

    .nav.nav-tabs {
        background-color: $secondarylight;

        .nav-item {
            .nav-link {
                color: $primary-text;
                background-color: $secondarylight;

                &.active {
                    background-color: $secondary;
                    border-color: $secondary;
                    color: $white;
                    //  &:hover {
                    //      background-color: $petel-secondarylight;
                    //      border-color: $petel-secondarylight;
                    //      p{
                    //          color: $primary-text;
                    //      }
                    //  }
                    //  &:focus {
                    //      color: $primary-text;
                    //      background-color: $petel-secondarylight;
                    //      border-color: $petel-secondary;
                    //      box-shadow: none;
                    //      p{
                    //          color: $primary-text;
                    //      }
                    //  }
                }

                &:hover {
                    color: $primary-text;
                    background-color: $light;
                    border-color: $secondarymedium;

                    p {
                        color: $primary-text;
                    }
                }

                /*   &:focus {
                    color: $primary-text;
                    background-color: $petel-secondarylight;
                    border-color: $petel-secondary;
                    box-shadow: none;
                    p{
                        color: $primary-text;
                    }
                } */

                &.disabled {
                    background-color: $gray-300;
                    border-color: $gray-300;
                }
            }
        }
    }

    .advancedoverview_report-dropdown-btn[data-target="#studentsActionsCollapse"] {
        font-size: 1.125rem;
        // span {

        // }
    }

    #selectedstudents {

        color: $primary-text;
    }

    #charts_state {
        .donut-сhart-legend-title {
            color: $secondary;

        }

        .send-message-link {
            color: $blue;
        }
    }

    #studentsActionsBlock #downloadXlsTable {
        color: $primary;
    }

    #questions-table,
    #students-table {
        color: $primary-text;

        &.tabulator {
            .tabulator-header {
                background-color: $secondary;

                .tabulator-col {
                    background-color: $secondary;
                }
            }

            .tabulator-row.tabulator-selectable:hover {
                background-color: $secondarymedium;
            }
        }
    }
}

#page-mod-quiz-report {

    .sticky-stripe {
        color: $primary-text;

        .advancedoverview_report-toggle input:checked+label {
            background-color: $primary-text;
        }
    }
}