#page-question-type-indicatoressay, #page-admin-question-type-indicatoressay-indicators {
    #ind_addnew {
        color: $petel-primary;
        border-color: $petel-primary !important;
    }
    #ind_delete {
        background-color: $petel-primary;
    }
    #ind_submit {
        background-color: $petel-primary;
    }
    .n_catch, .n_catch_all {
        accent-color: $petel-primary;;
    }
}