[dir="rtl"] #vpl_results_accordion table th p[dir=RTL] {
    text-align: left;
}

#page-mod-vpl-forms-edit #vpl_results {
    max-height: 390px;
}
.path-mod-vpl .nav-link
{
    display: -webkit-inline-box;
}
.path-mod-vpl .fa.fa-archive{
    padding-right:4px;
}