{{#blocks}}

    <div class="bg-white w-100 border border-light d-flex position-relative activity-item mx-3 row ">
        <div class="col-lg-6 col-xl-3 pl-0 d-flex">

            <div class="activity-img-wrapper overflow-hidden position-relative ">
                <a class="activity-img d-block border border-primary position-relative" href="{{{urlactivitymid}}}" title="{{image_title}}" style="background-image: url('{{{imageactivity}}}');">
                    <div class="certificate_stamp-wrapper d-flex align-items-center justify-content-center position-absolute">
                        {{#stamp_teachers_offer}}
                            <div class="certificate_stamp bg-warning text-center" data-type="teachers_offer">
                                <i class="fal fa-heart"></i>
                                <span>{{#str}}teachers_offer, community_oer{{/str}}</span>
                            </div>
                        {{/stamp_teachers_offer}}

                        {{#stamp_tested_by_petel}}
                            <div class="certificate_stamp bg-success text-center" data-type="tested_by_petel">
                                <i class="fab fa-raspberry-pi"></i>
                                <span>{{#str}}tested_by_petel, community_oer{{/str}}</span>
                            </div>
                        {{/stamp_tested_by_petel}}

                        {{#stamp_tested_by_teachers}}
                            <div class="certificate_stamp bg-danger text-center" data-type="tested_by_teachers">
                                <i class="fab fa-raspberry-pi"></i>
                                <span>{{#str}}tested_by_teachers, community_oer{{/str}}</span>
                            </div>
                        {{/stamp_tested_by_teachers}}
                    </div>
                </a>

                {{#activityrating}}
                    <div class="activityrating-stripe bg-primary">
                        <div class="stripe-content">
                            <div class="corner left_corner"></div>
                                {{#str}} teachers_recommendations, community_oer {{/str}}
                            <div class="corner right_corner"></div>
                        </div>
                    </div>
                {{/activityrating}}

                {{#display_whats_new}}
                    <div class="new-stripe bg-primary">
                        <div class="stripe-content">
                            <div class="corner left_corner"></div>
                                {{#str}} activity_whatsnew, community_oer {{/str}}
                            <div class="corner right_corner"></div>
                        </div>
                    </div>
                {{/display_whats_new}}

                {{#not_visible}}
                    <div class="notvisible-stripe bg-primary">
                        <div class="stripe-content">
                            <div class="corner left_corner"></div>
                            {{#str}} activity_notvisible, community_oer {{/str}}
                            <div class="corner right_corner"></div>
                        </div>
                    </div>
                {{/not_visible}}

            </div>
        </div>
        <div class="activity-main_ col-lg-12 col-xl-6">
            <div class="teacher-block d-flex align-items-center flex-wrap mb-1">

                {{#users}}
                    <a href="{{{urltosocialprofile}}}">
                        <div class="teacher-img rounded-circle ml-1" style="background-image: url('{{{user_image}}}');" role="presentation"></div>
                    </a>

                    <a href="{{{urltosocialprofile}}}">
                        <span class="teacher-info text-body border-right border-primary">{{user_fname}} {{user_lname}}</span>
                    </a>
                {{/users}}

                <span class="teacher-info text-body border-right border-primary">{{{modicon}}} {{modname}}</span>
<!--                <span class="teacher-info text-body border-right border-primary">תכנים דיאגנוסטיים</span>-->
                <span class="teacher-info text-body ">{{cm_created_format}}</span>
            </div>
            <a href="{{{urlactivitymid}}}" class="activity-title bold text-body d-flex justify-content-start align-items-center mb-3">
                <h2 class="font-weight-bold mb-0 mr-2">{{{mod_name}}}</h2>
                <span class="font-weight-normal activity-title-info">{{info_metadata}}</span>
            </a>
            {{#trimteacherremarks}}
                <div id="tr-{{cmid}}" class="activity-text text-body mb-0 text-ellipsis">{{{metadata_teacherremarks}}}</div>
                {{#trimbutton}}
                    <button onclick="document.getElementById('tr-{{cmid}}').classList.toggle('text-ellipsis');this.classList.toggle('show')">
                        <span class="fulltext">{{#str}}fulltext, community_oer{{/str}}</span>
                        <span class="trimtext">{{#str}}trimtext, community_oer{{/str}}</span>
                    </button>
                    <style>
                        .fulltext {display:block;}
                        .trimtext {display:none;}
                        .show .fulltext {display:none;}
                        .show .trimtext {display:block;}
                    </style>
                {{/trimbutton}}
            {{/trimteacherremarks}}
            {{^trimteacherremarks}}
                <div id="tr-{{cmid}}" class="activity-text text-body mb-0 ">{{{metadata_teacherremarks}}}</div>
            {{#urltranslatemid}}
                <a href="{{{urltranslatemid}}}" class="urltranslate mb-1">{{#str}}translationbasedon, community_oer{{/str}}</a>
            {{/urltranslatemid}}
            {{/trimteacherremarks}}
        </div>
        <div class="activity-info ml-auto_ col-lg-5 col-xl-3 offset-lg-0">
            <div class="copy-link-wrapper w-100 position-relative mb-2">
                <div class="copy-link w-100 ml-auto d-flex align-items-center justify-content-center px-3" data-linkrel="{{{urlactivitymid}}}" data-toggle="dropdown" role="button" tabindex="0">
                    <i class="icon fas fa-link iconsmall" aria-hidden="true"></i>
                    <u>{{#str}}copyactivityadress, community_oer{{/str}}</u>
                </div>
                <div class="dropdown-menu dropdown-menu-right p-3 w-100" aria-labelledby="dropdownMenuLink">
                    <p>
                    {{#str}}linkcopiedtoclipboard, community_oer{{/str}}
                    </p>
                    <input class="w-100" type="text" value="">
                </div>
            </div>

            {{^iframe}}
            <div id="oer_btn_container" class="d-flex ">
            {{^showteachercomments}}
                    <a class="comments reviews mr-2" href="javascript:void(0)" data-objid="{{cmid}}" data-type="activity" data-handler="showReview">
                    <div class="activity-info-tooltip position-relative">
                        <button type="button" class="btn btn-primary rounded mb-3">
                            <i class="fal fa-comment" aria-hidden="true"></i>
                        </button>
                        <div class="oer-tooltip p-2 position-absolute" data-position="bottom-left" data-carret-position="top-left" >
                            <span>{{countreview}} {{#str}}comments_box, community_oer{{/str}}</span>
                        </div>
                    </div>
                </a>
            {{/showteachercomments}}
                        <div class="dropdown copy-activity-dropdown-wrapper">
                <button class="copy-activity-btn btn
                    {{#activity_shared}}btn--white{{/activity_shared}} {{^activity_shared}}btn-primary{{/activity_shared}}
                    rounded mb-3 w-100 dropdown-toggle"
                type="button" id="copy_activity_btn_{{cmid}}" data-toggle="dropdown" data-cmid="{{cmid}}" data-referer="{{referer}}">

                    <i class="fal fa-clone mr-2"></i>
                    <span>
                    {{#activity_shared}}{{#str}}activitycopied, community_oer{{/str}}{{/activity_shared}}
                    {{^activity_shared}}{{#str}}activitycopy, community_oer{{/str}}{{/activity_shared}}
                    </span>

                </button>
                <div class="dropdown-menu copy-activity-dropdown pt-0">
                    <div class="preloading-wrapper align-items-center justify-content-center" style="display: flex;" role="status">
                        {{> community_oer/loading }}
                    </div>
                </div>

                <div class="activity-info-blocks d-flex align-items-start justify-content-between">
                    <div class="activity-info-block">
                        <div class="text-primary activity-info-tooltip position-relative">
                            <i class="fal fa-download"></i>
                            <div class="oer-tooltip p-2 position-absolute" data-position="bottom-left" data-carret-position="top-left" >
                                <span>{{count_used_activity}} {{#str}}used_activity, community_oer{{/str}}</span>
                            </div>
                        </div>
                        <p class="text-body m-0">{{count_used_activity}}</p>
                    </div>

                    <div class="activity-info-block">
                        <div class="text-primary activity-info-tooltip position-relative">
                            <i class="fal fa-graduation-cap"></i>
                            <div class="oer-tooltip p-2 position-absolute" data-position="bottom-left" data-carret-position="top-left" >
                                <span>{{count_student_response}} {{#str}}student_response, community_oer{{/str}}</span>
                            </div>
                        </div>
                        <p class="text-body m-0">{{count_student_response}}</p>
                    </div>

                    {{! TODO: remove this option PTL-4658 }}
                    {{#showteachercomments}}
                        <div class="activity-info-block">
                            <a href="{{{urlactivity}}}&comments=1" target="__blank" title="{{#str}}teachersdiscourse, community_comments{{/str}}">
                                <div class="text-primary">
                                    <i class="fal fa-comment"></i>
                                </div>
                                <p class="text-body m-0">{{countcomments}}</p>
                            </a>
                        </div>
                    {{/showteachercomments}}

                    <div class="activity-info-block">
                        {{#metadata_sourceurl}}
                            <div class="text-primary activity-info-tooltip position-relative" >
                                <i class="fal fa-message-quote"></i>
                                <div class="oer-tooltip p-2 position-absolute" data-position="bottom-left" data-carret-position="top-left" >
                                    <span>{{{metadata_sourceurl}}}</span>
                                </div>
                            </div>
                        {{/metadata_sourceurl}}
                    </div>

                </div>
            </div>
        </div>

            {{/iframe}}

            {{#iframe}}
                <label class="btn btn-outline-primary oer-activity-custom-checkbox d-flex align-items-center justify-content-center pr-1 pl-3" for="custom-checkbox-{{cmid}}" role="button">
                    <input class="custom-control-input" type="checkbox" id="custom-checkbox-{{cmid}}" value="{{cmid}}" {{#checkbox_selected}} checked {{/checkbox_selected}}/>
                    <i class="fa fa-check mr-2" aria-hidden="true"></i>
                    <span> {{#str}}selectactivity, community_oer{{/str}} </span>
                </label>
            {{/iframe}}

        </div>
    </div>

{{/blocks}}

{{#enable_pagination}}
    <nav class="d-flex justify-content-center align-items-center">
        <ul class="pagination">

            <li class="page-item {{#prev_pagination_disable}}disabled{{/prev_pagination_disable}}">
                <a class="page-link" data-plugin="activity" data-area="paging" data-value="previus" data-page="{{default_page}}" href="javascript:void(0)">
                    {{#str}}previous{{/str}}
                </a>
            </li>

            {{#pagination}}
                {{#show}}
                    <li class="page-item {{#active}}active{{/active}}">
                        <a class="page-link" data-plugin="activity" data-area="paging" data-value="{{value}}" {{#active}}data-selected="1"{{/active}} href="javascript:void(0)">
                            {{value}}
                        </a>
                    </li>
                {{/show}}
            {{/pagination}}

            <li class="page-item {{#next_pagination_disable}}disabled{{/next_pagination_disable}}">
                <a class="page-link" data-plugin="activity" data-area="paging" data-value="next" data-page="{{default_page}}" href="javascript:void(0)">
                    {{#str}}next{{/str}}
                </a>
            </li>

        </ul>
    </nav>
{{/enable_pagination}}

{{#js}}
require(['jquery', 'community_oer/activity'], function ($, Activity) {
    Activity.openDropdownMenuForBlock();

    $('.copy-link').on('click', function(e){
        const target = $(e.currentTarget);
        const dropdownMenu = target.siblings('.dropdown-menu');
        const url = target.data('linkrel');
        let temp = $("<input>");
        $("body").append(temp);
        temp.val(url).select();
        document.execCommand("copy");
        temp.remove();
        dropdownMenu.find('input').val(url);
    })

    $('.oer-activity-custom-checkbox').on('click', function() {
        let input = $(this).find('input[type=checkbox]');
        let cmid = input.val();
        let prev_data = $('#oer_activity_items_selected').val();

        let data = [];
        if(prev_data.length !== 0){
            data = JSON.parse(prev_data);
        }

        if (input.is(':checked')) {
            data.push(cmid);
        }else{
            let data_new = data;
            data = [];
            $.each(data_new, function (index, value) {
                if(value !== cmid){
                    data.push(value);
                }
            });
        }

        $('#oer_activity_items_selected').val(JSON.stringify(data));
    });

});
{{/js}}