<div class="simul_block border-light">
    <div class="simul_block-header">
    </div>
    <div class="simul_block-body d-flex flex-wrap">
        <a target="_blank" href="{{{courselink}}}"
            class="simul_block-body-img border border-secondary-light position-relative mr-3"
            style = "background-image: url('{{{courseimage}}}')">
        </a>
        <div class="simul_block-body-main">
            <h3 class="title mb-3"><a class="" target="_blank" href="{{{courselink}}}">{{fullname}}</a></h3>
            <div class="simul_block-body-main-inner text-body mb-0 text-ellipsis">
                {{{summary}}}
            </div>
            <div class="simul_block-body-main-inner">
            </div>
        </div>
    </div>
</div>
