<div class="simul_block">
    <div class="simul_block-header">

    </div>
    <div class="simul_block-body">

        <div class="img_wrapper">

            <a target="_blank" href="{{{courselink}}}" class="simul_block-body-img">
                <div class="img-background" style = "background-image: url('{{{courseimage}}}')"></div>
            </a>
        </div>

        <div class="simul_block-body-main">
            <h3 class="title"><a class="" target="_blank" href="{{{courselink}}}">{{fullname}}</a></h3>
            <div class="simul_block-body-main-inner">

                {{{summary}}}

            </div>
            <div class="simul_block-body-main-inner">


            </div>
        </div>

    </div>
</div>
