// Bootstrap variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Edna UI KIT style guide - PETEL colors PHYSICS
$petel-black: $black !default;
$petel-white: $white !default;
$petel-body-text: #2b2b2b;

$petel-transparentpurple50: #A59BB580 !default;
$petel-transparentpurple15: #A59BB526 !default;
$petel-transparentpurple10: #A59BB51A !default;

$petel-gray: #707070 !default;
$petel-fairgray: #f9f9f9 !default;
$petel-mediumgray: #b2b2b2 !default;
$petel-lightgray: #e2e1e1 !default;
/*$petel-primary: #008ECD !default;*/
$petel-success-green: #287d28 !default;
$petel-success-green-light: #e9f2e9 !default;
$petel-raspberry: #C91E4A !default;
$petel-system-blue: #008ecd !default;
$petel-yellowhighlight: #FCF15C !default;
$petel-alertyellow: #FCF15C !default;
$petel-alertorange: #f59331 !default;
$petel-alertorangelight: #fde9d5 !default;
$petel-danger-red: #ce0e0f !default;
$petel-danger-red-light: #fae6e6 !default;

// Override BS with PeteL? (copied original BS colors)
$blue:    #1177d1 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #ff7518 !default;
$yellow:  #f0ad4e !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$purple_hover: $petel-secondary !default;

$primary: $petel-primary !default;
$secondary: $petel-secondary !default; // was $gray-800
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Body
$body-color: $petel-body-text !default; // was $gray-800
$body-bg: $white !default;
$page-bgc: $white;

// Navbar
$navbar-dark-hover-color: rgba($white, 1) !default;
$navbar-light-hover-color: rgba($black, .9) !default;

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
        primary: $petel-primary,
        secondary: $petel-secondary, // was $gray-600,
        success: $success,
        info: $info,
        warning: $orange,
        danger: $danger,
        light: $gray-400,
        dark: $black
),
        $theme-colors
);

body {
  margin: 0;
  //font-family: $font-family-base;
  //font-size: $font-size-base;
  //font-weight: $font-weight-base;
  //line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

$link-color: #0075a9;
a {
  color: $link-color;
}
// Use BodyText color on all UI links
.myoverview-events a,
#page-mod-quiz-report section#region-main a:not(.btn-primary,
  .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus), // mod/quiz teacheroverview report
.cust-nav__menu-sab-wrap a, // OER catalog mega menu
#page-mod-assign-grading section#region-main a:not(.btn-primary,
  .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus), // mod/assign/grades
.path-user #page-content #region-main a:not(.btn-primary,
  .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus), // Participants
.path-grade-report-grader #region-main div[role="main"] a:not(.nav-link), // Grades
.btn-outline-secondary a,
a.fheader,
a.btn-link,
.path-mod-forum .discussion-list a, // Forums
a.page-title_head-link,
a.gridicon_link,
.sectionname a,
.activityinstance a {
  color: $petel-body-text;
}
a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: $petel-gray !important;
  color: $petel-white;
}
.initialbar .active a.page-link {
  color: $petel-black !important;
}
.page-item.active .page-link {
  color: $petel-black;
  background-color: $petel-secondarymedium;
  border-color: $petel-secondarymedium;
  font-weight: 600;
}
// quiz/report/teacheroverview
#page-mod-quiz-report .toggle-switch-area span {
  color: $petel-white;
}
// Ally - add proper test color based on background contrast ratio.
.que .correctness {
  &.correct {
    background-color: $state-success-text;
    color: $black;
  }
  &.partiallycorrect {
    background-color: $state-warning-text;
    color: $white;
  }
  &.notanswered,
  &.incorrect {
    background-color: $state-danger-text;
    color: $white;
  }
}

/*
.social-nav .nav-headeritem.nav-link:hover,
.oercatalog-nav .nav-headeritem.nav-link:hover {
  border-bottom: 3px solid $petel-light;
}
*/

/* make sure messages and notifications count bubbles are aligned */
#nav-notification-popover-container .count-container {
  top: -.36rem;
}

/* Fix display directionality of grades in student grade report
    https://tracker.moodle.org/browse/MDL-66932 */
.path-grade-report-user .user-grade {
  .column-contributiontocoursetotal,
  .column-range,
  .column-percentage,
  .column-weight {
    /*rtl:ignore*/
    direction: ltr;
  }
}

/* mod/checklist - topic background color diver */
.checklistreport .cell.reportheading {
  background-color: $gray-400;
}

// Breadcrumbs
$breadcrumb-padding-y: .25rem !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding: .5rem !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width: 0 !default;

$card-group-margin: .25rem;

// Options
$enable-rounded: true ;
$enable-shadows: true ;
$enable-gradients: true ;

// Dimensions
$header-height: 5.1rem;

// local/community/oer overrides
.user-course__enter {
  background: $petel-primary;
  color: $petel-white;
  border: 1px solid $petel-primary;
}
.user-course__enter:hover {
  text-decoration: none;
  background-color: $petel-secondarymedium;
  border-color: $petel-secondarymedium;
}
.user-course__enter--inverse {
  color: $petel-primary;
  background: $petel-white;
  border-color: $petel-primary;
}
.user-course__legend,
.user-course__legend-sub {
  font: 400 29px/50px $font-family-text, sans-serif;
  background-color: $petel-primary;
  color: $petel-white;
}
#search_custom .strip__link:hover {
  background-image: linear-gradient(to bottom, $petel-primary, $petel-primary 10%);
  border-top-color: $petel-secondarymedium;
  border-bottom-color: $petel-secondarymedium !important;
}
#search_custom .simul_block-link,
#search_custom .cont__top > span {
  color: $petel-primary;
}
#search_custom .btn-strip {
  color: $petel-white;
  background-color: $petel-primary;
}

.simul_block .simul_block-body-info-items .item span,
.simul_block .simul_block-body-main-inner .downloads i,
.simul_block .simul_block-body-main-inner .comments,
.simul_block .simul_block-body-main-inner .comments i {
  color: $petel-primary;
}
.simul_block .simul_block-body-main-inner .user_info-item {
  color: $petel-primary;
  border-right: 1px solid $petel-primary;
}

/* TEMP - PTL-4267 fix bg color side messages popup */
.drawer .message-app .btn-link:hover, .drawer .message-app .btn-link:focus {
  background-color: $petel-secondary;
}
.drawer .card-header .btn-link {
  background-color: $petel-secondarymedium;
}

$active-background: $petel-secondary;

// Selected (active) myoverview button/filter
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: $petel-white;
  background-color: $petel-secondary !important;
  border-color: $petel-secondary !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: $petel-primary;
  background-color: $petel-secondarylight;

}
.dropdown-menu li a:hover {
  background: $petel-secondary;
  color: $petel-secondarylight;
}

.dropdown-menu li a:focus {
  text-decoration: none;
  background: $petel-secondarylight;
  border: solid 2px $petel-secondary;
  font-weight: 600;
  color: $petel-primary;
  a,
  span,
  i {
    color: $petel-primary;
  }
}

// Dialogs
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
  background: $petel-secondary;
  color: $petel-white;
}
.moodle-dialogue-base .closebutton {
  color: $petel-white;
}

// Share module to OER catalog dialog
.uploadactivity .input-title {
  color: $petel-body-text !important;
}

// Question bank - advanced search collapsed button/div
.questionbankwindow div#advancedsearch {
  overflow: inherit;
}
#advancedsearch_caption a {
  background: $petel-secondarylight;
  color: $petel-body-text;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid gray;
  display: inline-block;
}

.dropdown-item:hover {
  background-color: $petel-secondarylight;
  font-weight: 600;
}
.dropdown-item:focus {
  background-color: $petel-secondarylight;
}
.dropdown-item:active {
  border: 2px solid;
  border-color: $petel-primary;
  color: $petel-primary;
   a{
    color: $petel-primary;
  }
}

.fixed-top .menubar.btn-outline-secondary {
  border-color: $petel-secondary;
  color: $petel-secondary;
}

// Notification custom PETEL messages
.bg-primary {
  background-color: $petel-secondary !important;
}
.text-primary {
  color: $petel-body-text !important;
}
// OER catalog - copy item button
.user-course__enter {
  font: 400 18px/32px $font-family-text, sans-serif;
  padding-top: 2px;
}
.user-course__legend, .user-course__legend-sub {
  font: 400 20px/40px $font-family-text, sans-serif;
  background-color: $petel-secondary;
  color: $petel-white;
}
.user-course__close {
  top: 8px;
  width: 28px;
}
#search_custom .btn--custom {
  background-color: $petel-primary;
}
#search_custom .btn--custom:hover {
  background: $petel-secondarymedium;
}
#search_custom .cont__filter {
  color: $petel-primary;
  font: 300 20px/38px $font-family-text, sans-serif;
  border: 1px solid $petel-primary;
}

// Social
.social .teachlist-item.active {
  color: $petel-white;
  background-color: $petel-primary;
}
.social .teacher-cards-head {
  color: $petel-primary;
}

.social .btn:not(.copy-link):not(.copy-activity-btn) {
  color: $petel-white;
  border: 1px solid $petel-primary;
  background-color: $petel-primary;
}
.social .btn.btn-secondary.btn-cancel {
  background: $petel-secondary;
}
.social .btn:hover {
  background-color: $petel-secondarymedium;
  border-color: $petel-secondarymedium;
}
.social .main_disable {
  color: $petel-primary;
}
.social .tc-name:hover,
.social .pc-form_course-name,
.social .profile-user__item,
.social .btn-settings {
  color: $petel-primary
}
.social .modal_header {
  color: $petel-white;
  background-color: $petel-primary;
}
#search_custom .strip__menu-string:hover {
  background-image: -webkit-linear-gradient(to bottom, $petel-primary, $petel-primary 10%);
  background-image: -o-linear-gradient(to bottom, $petel-primary, $petel-primary 10%);
  background-image: linear-gradient(to bottom, $petel-primary, $petel-primary 10%);
  border-top-color: $petel-secondary;
  border-bottom-color: $petel-secondary;
}

// mod/quiz teacheroverview report
#page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block1 .average-grade-value,
#page-mod-quiz-report .quiz_teacheroverview_dashboard .dashboard_block-title{
  color: $petel-primary;
}
#page-mod-quiz-report .quiz_teacheroverview_dashboard .quiz_teacheroverview_dashboard_block1 .average-grade-wrapper {
  background-color: $petel-primary;
}

// Share module to OER catalog - choose subject select button
.sections .dropdown-item:hover, .sections .dropdown-item:focus {
  color: $petel-white;
}
// reposition competency dropdown menu
.select-competency-dropdown-menu {
  top: 15px !important;
}
// share module form
.custom-control-input:checked~.custom-control-label::before {
  color: $petel-white;
  border-color: $petel-secondary;
  background-color: $petel-secondary;
}
// share module form
.border-primary {
  border-color: $petel-secondary !important;
}

// right side navbar selected item
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  color: $petel-white;
  background-color: $petel-secondary;
  border-color: $petel-secondary;
}

// Quiz edit page - action icons
#page-mod-quiz-edit ul.slots li.section li.activity a:not(:hover,:focus) {
  color: $petel-primary;
}

#page-mod-quiz-edit {
  .btn-group>.btn:not(:first-child), .btn-group>.btn-group:not(:first-child)>.btn {
    border-radius: .25rem;
  }
  .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:last-child)>.btn {
    border-radius: .25rem;
  }
}

.jschooser .choosercontainer #chooseform .alloptions .option .typename {
  font-size: medium;
}
.jschooser .choosercontainer #chooseform .instruction,
.choosercontainer #chooseform .selected .typesummary {
  font-size: medium;
}
.jschooser .choosercontainer #chooseform .alloptions,
.jschooser .choosercontainer #chooseform .instruction,
.jschooser .choosercontainer #chooseform .typesummary {
  left: 340px;
}
.jschooser .choosercontainer #chooseform .alloptions {
  max-width: 340px;
}
.chooserdialogue-mod_quiz-questionchooser {
  width: 640px !important;
}

// Wrapper for the tooltip content
.tooltip-inner {
  color: $petel-body-text;
  background-color: $petel-white;
  //border-color: $petel-secondary;
  border: 1px solid $petel-secondary;
}

//adding global parameters to use for accessibility (#6713)
:root {
  --petel-primary: #{$petel-primary};
  --petel-secondary: #{$petel-secondary};
  --petel-secondarymedium: #{$petel-secondarymedium};
  --petel-secondarylight: #{$petel-secondarylight};
  --petel-light: #{$petel-light}
}

//adding globals to use for block_advnotification (#7528)
html[dir='rtl'] {
  #page-my-index {
    .carousel-control-prev-icon, .carousel-control-next-icon {
      transform: scaleX(-1);
    }
  }
}

#page-my-index {
  .carousel-control-prev {
    left: -40px;
    width: 40px;
    padding: inherit;
  }

  .carousel-control-next {
    right: -40px;
    width: 40px;
    padding: inherit;
  }
}

.pagination a.page-link {
  color: $petel-primary;
}

// input

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  height: 13px!important;
  width: 13px!important;
  background: #fff;
  border: 1px solid $petel-secondary;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    background: $petel-lightgray;
    cursor: not-allowed;
    border: 1px solid $petel-gray;

  }
  &:after {
    content: "";
    display: block;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
  }
  &:hover {
    background: $petel-light;
    border: 1px solid $petel-secondary;
  }
  &:focus{
    box-shadow: 0 0 0 0.2rem rgba($petel-secondary ,0.25);
  }

  &:checked:after {
    transform: scale(1);
  }
}

input[type="checkbox"] {
  border-radius: 2px;

  &:after {
    width: 15px;
    height: 15px;
  }

  &:checked {
    border: 1px solid $petel-secondary;
    background-color: $petel-primary;

    &:after {
      content: url("[[pix:theme|checked]]");
      height: 1.75em;
      width: 0.6em;
    }
  }
}

input[type="radio"] {
  border-radius: 20px;
  background-color: $light;

  &:after {
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }

  &:checked {
    border-color: $petel-secondary;

    &:after {
      background-color: $petel-primary;
      width: 7px;
      height: 7px;
      position: relative;
    }
  }
}

.userlist #participants td .icon {
  color: $petel-primary;
  font-weight: 300;
  &:hover{
    font-weight: 400;
  }
}
.userlist #participants .badge{
  font-weight: 400;
}

.form-autocomplete-suggestions {
  font-family: $font-family-text, sans-serif;
  box-shadow: 0 6px 12px 0 rgba(43, 43, 43, 0.15);
  font-weight: 300;
  color: $petel-body-text;
  i {
    color: $petel-primary;
  }
  li[aria-selected="true"]{
    background-color: $petel-secondarylight;
    color: white;
    border: solid 1px $petel-primary;
    font-weight: 500;
    color: $petel-body-text;
    box-shadow: 0 0 0 0.2rem rgba($petel-secondary ,0.25);

    &:focus{
      box-shadow: 0 0 0 0.2rem rgba($petel-secondary ,0.25);
    }
  }
  li:hover{
    background-color: $petel-secondarylight;
    color: $petel-body-text;
    font-weight: 500;
  }
}

.usermenu:focus-within,
div.dropdown-item:focus-within {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
  background: $petel-secondarylight;
  border: solid 2px $petel-secondary;
  font-weight: 600;
  a,
  span,
  i {
    color: $petel-primary;
  }
}

.section-cm-edit-actions .dropdown-menu {
  min-width: 13rem;
}

//.navbar-petel .navbar-brand:focus, .navbar-petel .nav-item a:focus, .navbar-petel .nav-link:focus{
//  box-shadow: none!important;
//  -webkit-box-shadow: none!important;
//}

.sequence-blocks-content .sequence-item-content .nav-tabs-inner .nav-link:hover {
  background: $petel-light!important;
}

// Do not remove the following comment from the end of this file.
//
// REMEMBER! All scss code is processed via RTLCSS
// https://rtlcss.com/learn/usage-guide/control-directives/
// that refactor selectors attributes to RTL automatically.

.btn-danger{
  background-color: $petel-danger-red;
  box-shadow: 0 6px 12px 0 rgba(43, 43, 43, 0.25);
  border-radius: 4px;
  border: solid 1px $petel-danger-red;
  &:focus, &:hover{
      background-color: $petel-danger-red-light;
      color: black;
    }
}

.btn-success{
  background-color: $petel-success-green;
  box-shadow: 0 6px 12px 0 rgba(43, 43, 43, 0.25);
  border-radius: 4px;
  border: solid 1px $petel-success-green;
  &:focus, &:hover{
    background-color: $petel-success-green-light;
    color: black;
  }
}