#page-login-forgot_password {
  background-color: $white !important;
  background-image: none;
}

#page-login-forgot_password .login a,
#page-login-forgot_password .langbutton {
  color: $white;
}

#page-login-forgot_password .primary-navigation {
  display: none !important;
}

body#page-admin-tool-mfa-auth {
  background-image: none !important;
}

/* mod/assign - feedback - pdf editor - header sections */
.path-mod-assign [data-region="user-selector"] {
  max-width: 50%;
  margin: 0;
}
.path-mod-assign [data-region="user-selector"] > div > div:nth-last-child(1) {
  width: 100%;
  right: 0;
}

.alert-warning {
  font-weight: 400;
  background-color: $petel-orange-light;/* color(alert-orange-light); */
  border-color: $petel-orange-light; /* color(alert-orange-light); */
  color: $body-color;
  font-family: Heebo, sans-serif;
  .alert-colorblock {
    background-color: color(alert-orange);
    border: 0.0625rem solid color(alert-orange);
  }
}