#page-login-forgot_password {
  background-color: $white !important;
  background-image: none;
}

#page-login-forgot_password .login a,
#page-login-forgot_password .langbutton {
  color: $white;
}

#page-login-forgot_password .primary-navigation {
  display: none !important;
}

body#page-admin-tool-mfa-auth {
  background-image: none !important;
}