// PETEL41 Computer science specific color palette
$petel-primary:           #5D141E !default;
$petel-secondary:         #922C48 !default;
$petel-secondarymedium:   #C37280 !default;
$petel-secondarylight:    #E8C6C8 !default;
$petel-light:             #F2EDEE !default;

