// PETEL Sciences specific color palette
$petel-primary: #671c05 !default;
$petel-secondary: #b53f0c !default;
$petel-secondarymedium: #f56d18 !default;
$petel-secondarylight: #f8d8bc !default;
$petel-light: #faf5f0 !default;

