// Feinberg specific color palette
$petel-primary:           #0078A4 !default;
$petel-secondary:         #30A5BF !default;
$petel-secondarymedium:   #99C9DA !default;
$petel-secondarylight:    #CCE4EC !default;
$petel-light:             #EBF4F8 !default;
