// PETEL Computer science specific color palette
$petel-primary: #5d141e !default;
$petel-secondary: #922c48 !default;
$petel-secondarymedium: #c37280 !default;
$petel-secondarylight: #e8c6c8 !default;
$petel-light: #f2edee !default;

