// PETEL41 Physics specific color palette
$petel-primary:           #23164F !default;
$petel-secondary:         #554283 !default;
$petel-secondarymedium:   #8E7BB8 !default;
$petel-secondarylight:    #E1DBF2 !default;
$petel-light:             #F5F2F7 !default;
