// PETEL41 Sciences specific color palette
$petel-primary:           #671C05 !default;
$petel-secondary:         #B53F0C !default;
$petel-secondarymedium:   #F56D18 !default;
$petel-secondarylight:    #F8D8BC !default;
$petel-light:             #FAF5F0 !default;

