// PETEL Chemistry specific color palette
$petel-primary: #002151 !default;
$petel-secondary: #0b4886 !default;
$petel-secondarymedium: #4f80bb !default;
$petel-secondarylight: #d2dbef !default;
$petel-light: #eaf1fb !default;
