// Bootstrap variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Edna UI KIT style guide - Petel colors
$petel-primary: #220F44 !default;
$petel-secondary: #554374 !default;
$petel-secondarymedium: #7A58B2 !default;
$petel-light: #C1BBCC !default;
$petel-transparentpurple50: #A59BB580 !default;
$petel-transparentpurple15: #A59BB526 !default;
$petel-transparentpurple10: #A59BB51A !default;
$petel-gray: #777777 !default;
$petel-fairgray: #f9f9f9 !default;
$petel-lightgray: #E2E1E1 !default;
$petel-secondarylight: #F2F1F3 !default;
$petel-primary: #008ECD !default;
$petel-raspberry: #C91E4A !default;
$petel-yellowhighlight: #FCF15C !default;
$petel-black: $black !default;
$petel-white: $white !default;


// Override BS with PeteL? (copied original BS colors)
$blue:    #1177d1 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$purple_hover: #7149b5 !default;

$primary: $petel-primary !default;
$secondary: $gray-800 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Options
$enable-rounded: true ;
$enable-shadows: true ;
$enable-gradients: true ;

// Dimensions
$header-height: 5.625rem;

// Body
$body-color: $gray-800 !default;
$body-bg: $white !default;

$page-bgc: #f1f4f5;

//// Fonts

$font-size-base: 1rem; // Assume default browser root font size is 16px
//$headings-font-weight: 300 !default;

// Font weights
// https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
$font-weight-thin: 100 !default;
$font-weight-extralight: 200 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default; // Regular
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extrabold: 800 !default;
$font-weight-black: 900 !default;

////// Text fonts
//$font-family-text: "Assistant";
$font-family-text: "Heebo";
//$font-family-text: "Rutz";

////// Heading fonts
//$font-family-headers: "Rubik";
// Weizmann fonts (should we use them?)
$font-family-headers: "Meoded Pashut";
//$font-family-headers: "Narkis Tam";

// Navbar
$navbar-dark-hover-color: rgba($white, 1) !default;
$navbar-light-hover-color: rgba($black, .9) !default;

// Breadcrumbs
$breadcrumb-padding-y: .25rem !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding: .5rem !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width: 0 !default;

$card-group-margin: .25rem;

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
        primary: $primary,
        secondary: $gray-600,
        success: $success,
        info: $info,
        warning: $orange,
        danger: $danger,
        light: $gray-400,
        dark: $black
),
        $theme-colors
);

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, $font-family-text, Roboto, "Helvetica Neue", Alef, Ariel, sans-serif;
$font-family-base:            $font-family-sans-serif;
$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

$headings-font-family: $font-family-headers, sans-serif;

$h1-font-size: $font-size-base * 2.5 !default;    // Edna UI KIT style guide = 40px = 2.5rem
$h2-font-size: $font-size-base * 2 !default; // Edna UI KIT style guide = 32px = 2rem
$h3-font-size: $font-size-base * 1.75 !default;  // Edna UI KIT style guide = 28px = 1.75rem
$h4-font-size: $font-size-base * 1.5 !default; // Edna UI KIT style guide = 24px = 1.5rem
$h5-font-size: $font-size-base * 1.25 !default;    // Edna UI KIT style guide = 20px = 1.25rem

//h1, .h1 { font-size: $h1-font-size; }
//h2, .h2 { font-size: $h2-font-size; }
//h3, .h3 { font-size: $h3-font-size; }
//h4, .h4 { font-size: $h4-font-size; }
//h5, .h5 { font-size: $h5-font-size; }
//h6, .h6 { font-size: $h6-font-size; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  //margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  //font-weight: $headings-font-weight;
  //line-height: $headings-line-height;
  //color: $headings-color;
}

$blocks-column-width: 260px;