// PETEL41 Mathematics specific color palette
$petel-primary:           #0E3447 !default;
$petel-secondary:         #236B7C !default;
$petel-secondarymedium:   #659BB1 !default;
$petel-secondarylight:    #B8CBD8 !default;
$petel-light:             #F1F1F1 !default;
