// PETEL41 Biology specific color palette
$petel-primary:           #1F4B3B !default;
$petel-secondary:         #398065 !default;
$petel-secondarymedium:   #7BBFB6 !default;
$petel-secondarylight:    #C1E1DD !default;
$petel-light:             #EFF3F1 !default;
