// PETEL Physics specific color palette
$petel-primary: #23164f !default;
$petel-secondary: #554283 !default;
$petel-secondarymedium: #8e7bb8 !default;
$petel-secondarylight: #e1dbf2 !default;
$petel-light: #f5f2f7 !default;
