// Demo specific color palette
$petel-primary: #33190d !default;
$petel-secondary: #663824 !default;
$petel-secondarymedium: #99634d !default;
$petel-secondarylight: #e6d3ca !default;
$petel-light: #faf5f3 !default;
