// Feinberg specific color palette
$petel-primary: #0078a4 !default;
$petel-secondary: #30a5bf !default;
$petel-secondarymedium: #99c9da !default;
$petel-secondarylight: #cce4ec !default;
$petel-light: #ebf4f8 !default;
