// Tutorials specific color palette
$petel-primary:           #004080 !default;
$petel-secondary:         #0066CC !default;
$petel-secondarymedium:   #79B6F2 !default;
$petel-secondarylight:    #E2F0FF !default;
$petel-light:             #F2F8FF !default;

// TODO: is it needed?
// .footer-petel {
//     .footer-logo {
//         background-image: url("[[pix:theme|logowis]]") !important;
//     }
// }