// PETEL41 Chemistry specific color palette
$petel-primary:           #002151 !default;
$petel-secondary:         #0B4886 !default;
$petel-secondarymedium:   #4F80BB !default;
$petel-secondarylight:    #D2DBEF !default;
$petel-light:             #EAF1FB !default;