// Demo specific color palette
$petel-primary:           #33190D !default;
$petel-secondary:         #663824 !default;
$petel-secondarymedium:   #99634D !default;
$petel-secondarylight:    #E6D3CA !default;
$petel-light:             #FAF5F3 !default;
