// PETEL Mathematics specific color palette
$petel-primary: #0e3447 !default;
$petel-secondary: #236b7c !default;
$petel-secondarymedium: #659bb1 !default;
$petel-secondarylight: #b8cbd8 !default;
$petel-light: #f1f1f1 !default;
