{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Help and documentation",
            "supportemail": "<a href=\"#\">Contact site support</a>
            <span class="footer-link-divider mb-3"></dispan,
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210"
        }
    }
}}

<footer id="page-footer" class="bg-primary d-flex text-white pt-3 px-3">
    <div class="footer-inner d-flex align-items-center flex-wrap" data-region="footer-content-popover">
        <a href="https://stwww1.weizmann.ac.il/" rel="" aria-label="{{#str}} weizmann_logo, theme_petel {{/str}}">
        <div class="logo-wrapper mb-3"></div>
        </a>
        <div class="d-block mx-auto mx-lg-0">
            <p class="copyright mb-2">
                <i class="fa-light fa-copyright mr-2"></i>
                {{#str}}all_rights_reserved, theme_petel {{/str}}
            </p>
            <div class="footer-links align-items-center justify-content-center justify-content-lg-start d-flex  flex-wrap">
                <a href="{{ abouturl }}" class="footer-link text-white mb-3">
                    {{#str}} about, theme_petel {{/str}}</a>
                <span class="footer-link-divider mb-3"></span>
                    {{#policies}}
                            <a href="{{url}}" class="footer-link text-white mb-3">
                                {{name}}
                            </a>
                        {{#lastitem}}
                        {{/lastitem}}
                        {{^lastitem}}
                        <span class="footer-link-divider mb-3"></span>
                    {{/lastitem}}
                    {{/policies}}
            </div>
        </div>
    </div>
    <div class="footer-content-debugging footer-dark text-light d-block">
        <div class="container-fluid footer-dark-inner">
            {{{ output.debug_footer_html }}}
        </div>
    </div>
    {{{ output.standard_end_of_body_html }}}
</footer>
<!--
        {{# output.has_popover_links }}
            <div class="footer-section p-3 border-bottom">
                {{# output.page_doc_link }}
                    <div class="footer-support-link text-white">{{{ output.page_doc_link }}}</div>
                {{/ output.page_doc_link }}

    {{# output.services_support_link }}
                    <div class="footer-support-link text-white">{{{ output.services_support_link }}}</div>
                {{/ output.services_support_link }}

    {{# output.supportemail }}
                    <div class="footer-support-link text-white">{{{ output.supportemail }}}</div>
                {{/ output.supportemail }}
            </div>
        {{/ output.has_popover_links }}

        <div class="footer-section p-3 border-bottom">

            <div class="logininfo text-white">
                {{{ output.login_info }}}
            </div>

            <div class="tool_usertours-resettourcontainer">
            </div>
            {{{ output.standard_footer_html }}}

        </div>
 -->