{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template format_flexsections/local/content/section-card

Displays a section as a card. Does not display activities, just the section header

Example context (json):
{
"id": 1234,
"num": 1,
"sectionreturnid": 0,
"classes": [ "extra", "css", "classes" ],
"header": {
"url": "https://example.com/course/index.php",
"name": "Section name",
"image": "https://example.com/image.png",
"summary": {
"summarytext": "<p>Introductory text</p>"
}
}
}
}}

<div class="card dashboard-card{{#classes}} {{.}}{{/classes}}" role="listitem" aria-labelledby="section-{{num}}-title"
    data-sectionid="{{num}}" data-sectionreturnid="{{sectionreturnid}}" data-id="{{id}}"
    data-number="{{num}}">
    {{#header}}
    <a class="card-inner p-2  {{#lastseen}}lastseen{{/lastseen}}" href="{{{url}}}" title="{{{name}}}">
        <h3 id="section-{{num}}-title" class="card-title mb-2">
            <span>
            {{{name}}}
            </span>
        </h3>
        <div class="card-main-content d-flex flex-column justify-content-between position-relative" >
            {{#recentlyviewed}}
            <div class="recently-viewed d-flex align-items-center justify-content-center">
                <i class="fa-light fa-users"></i>
            </div>
            {{/recentlyviewed}}
            <div class="card-img-top" id="section-image-{{id}}" role="presentation"
                {{#image}}style="background: url('{{{image}}}'){{^imggenerated}} no-repeat center/contain {{/imggenerated}} {{#imggenerated}}  center/cover {{/imggenerated}}"{{/image}}>
            </div>
            <div class="card-header-fade">
                {{$ core_courseformat/local/content/section/badges }}
                    {{> core_courseformat/local/content/section/badges }}
                {{/ core_courseformat/local/content/section/badges }}
                {{#summary}}
                {{#summarytext}}
                <div class="summary p-1">
                    {{{summarytext}}}
                </div>
                {{/summarytext}}
                {{/summary}}

            </div>
            <div class="card-header p-2">
                {{> core_courseformat/local/content/section/availability }}
                {{$ format_flexsections/local/content/completion }}
                    {{> format_flexsections/local/content/completion }}
                {{/ format_flexsections/local/content/completion }}
            </div>
        </div>
    </a>
    {{/header}}

    {{#editing}}  
    <div class="uploadsectionimage">
            <label data-toggle="tooltip" data-placement="bottom" title="{{#str}}resolution_must, theme_petel{{/str}}"
                   for="uploadsectionimage_{{id}}" id="uploadsectionimagelabel_{{id}}"
                   class="btn btn-sm btn-link d-flex align-items-center mb-0 px-0 d-inline-flex">
                <i class="fa-light fa-pencil" aria-hidden="true"></i>
                <span class="btn-text ml-2">{{#str}} editimage, format_flexsections {{/str}}</span>
            </label>

            <input class="form-control-file" id="uploadsectionimage_{{id}}" data-sectionid="{{id}}" data-contextid="{{contextid}}" style="visibility:hidden; width: 0; height: 0">
    </div>
    {{/editing}}
    {{#lastseen}}
    <p class="lastseen-text text-center mb-0 py-3 px-1">
        {{#str}} lastseen, format_flexsections {{/str}}
    </p>
    {{/lastseen}}

</div>