<div class="modal" id="error_modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{#str}}err_submit_modal, gradingform_absquestion{{/str}}</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" id="error_modal_yes" class="btn btn-primary">{{#str}}yes, gradingform_absquestion{{/str}}</button>
                <button data-dismiss="modal" class="btn btn-primary" id="error_modal_no">{{#str}}no, gradingform_absquestion{{/str}}</button>
            </div>
        </div>
    </div>
</div>