<div class="modal" id="manage_modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{#str}}manage_comments, gradingform_absquestion{{/str}}</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div id="manage-modal-body">
            </div>
        </div>
    </div>
</div>