<table class="table table-striped">
    <thead class="">
        <tr>
            <th>{{#str}}question, gradingform_absquestion{{/str}}
                <i
                    data-placement="top" 
                    data-toggle="tooltip"
                    data-template="<div class='tooltip help-tooltip' role='tooltip'><div
                        class='arrow'></div><div class='tooltip-inner'></div></div>" 
                    title="{{#str}}question_desc, gradingform_absquestion{{/str}}" 
                    class="fa fa-question-circle help-icon" aria-hidden="true"
                ></i>
            </th>
            <th>{{#str}}sub_question, gradingform_absquestion{{/str}}
                <i
                    data-placement="top" 
                    data-toggle="tooltip"
                    data-template="<div class='tooltip help-tooltip' role='tooltip'><div
                        class='arrow'></div><div class='tooltip-inner'></div></div>" 
                    title="{{#str}}sub_question_desc, gradingform_absquestion{{/str}}" 
                    class="fa fa-question-circle help-icon" aria-hidden="true"
                ></i>
            </th>          
            <th>{{#str}}max_points, gradingform_absquestion{{/str}}
                <i
                data-placement="top" 
                data-toggle="tooltip"
                data-template="<div class='tooltip help-tooltip' role='tooltip'><div
                    class='arrow'></div><div class='tooltip-inner'></div></div>" 
                title="{{#str}}max_points_desc, gradingform_absquestion{{/str}}" 
                class="fa fa-question-circle help-icon" aria-hidden="true"
                ></i>
            </th>
            <th>{{#str}}bonus, gradingform_absquestion{{/str}}
                <i
                data-placement="top" 
                data-toggle="tooltip"
                data-template="<div class='tooltip help-tooltip' role='tooltip'><div
                    class='arrow'></div><div class='tooltip-inner'></div></div>" 
                title="{{#str}}bonus_desc, gradingform_absquestion{{/str}}" 
                class="fa fa-question-circle help-icon" aria-hidden="true"
                ></i>
            </th>
            <th>{{#str}}question_groups, gradingform_absquestion{{/str}}
                <i
                data-placement="top" 
                data-toggle="tooltip"
                data-template="<div class='tooltip help-tooltip' role='tooltip'><div
                    class='arrow'></div><div class='tooltip-inner'></div></div>" 
                title="{{#str}}question_groups_desc, gradingform_absquestion{{/str}}" 
                class="fa fa-question-circle help-icon" aria-hidden="true"
                ></i>
            </th>
            <th>{{#str}}info, gradingform_absquestion{{/str}}
                <i
                data-placement="top" 
                data-toggle="tooltip"
                data-template="<div class='tooltip help-tooltip' role='tooltip'><div
                    class='arrow'></div><div class='tooltip-inner'></div></div>" 
                title="{{#str}}info_desc, gradingform_absquestion{{/str}}" 
                class="fa fa-question-circle help-icon" aria-hidden="true"
                ></i>
            </th>
            <th>{{#str}}actions, gradingform_absquestion{{/str}}
                <i
                data-placement="top" 
                data-toggle="tooltip"
                data-template="<div class='tooltip help-tooltip' role='tooltip'><div
                    class='arrow'></div><div class='tooltip-inner'></div></div>" 
                title="{{#str}}actions_desc, gradingform_absquestion{{/str}}" 
                class="fa fa-question-circle help-icon" aria-hidden="true"
                ></i>
            </th>
        </tr>
    </thead>
</table>